[2014-02-19 16:37] aissaboulmerka opened #1 "ConnectedComponents.cpp"
Hi,

I try to comile the bgslibrary code with vs 2010 but I have the following error : c1xx : fatal error C1083: Cannot open source file :  '..\package_bgs\dp\ConnectedComponents.cpp' : No such file or directory.

Thankx.

[2014-02-21 14:42] seberm opened #2 "Build error - taking address of temporary"
Hi.
Everytime I want to build this library I get these errors:

[code]

OS and dependencies:

[code]

I'm trying to build revision `e29bd0c1`.

What I should do? Do I need any other dependency?

[2014-02-24 09:13] #2 closed, assigned to nobody

[2014-02-24 19:03] aissaboulmerka opened #3 "I cannot run bgslibrary.exe"
Hi,

Thank you for fixing the last issue.

In VS 2010, it compile perferctly, but when I try to run the bgslibrary.exe file, it gives the following message:

'bgslibrary.exe' : Chargé 'C:\Windows\winsxs\x86_microsoft.windows.common-controls_6595b64144ccf1df_5.82.7601.18201_none_ec80f00e8593ece5\comctl32.dll', Cannot find or open the PDB file.

Thanks.

[2014-02-24 19:07] #1 closed, assigned to nobody

[2014-02-24 19:14] #3 closed, assigned to nobody

[2014-02-27 15:47] Kanystr opened #4 "documentation"
Hello,
I use this library in my bachelor work, is there any documentation? I need parameterized time of background adaptation, etc.
Thank you for any answer.

[2014-02-27 19:35] #4 closed, assigned to nobody

[2014-04-27 06:35] dasguptar opened #5 "libbgs.so Undefined reference to OpenCV functions"
On attempting to build on Ubuntu 12.04 with OpenCV 2.4.8, the make command runs into an error when trying to link the relevant libraries:

[code]

[2014-04-27 06:43] #5 closed, assigned to nobody

[2014-04-29 17:47] elfring opened #6 "Remove unnecessary null pointer checks"
[An extra null pointer check is not needed in functions](http://dietmar-kuehl.de/mirror/c++-faq/freestore-mgmt.html#faq-16.8) like the following.
- [CLocalBinaryPattern::FreeMemories](https://github.com/andrewssobral/bgslibrary/blob/d37be874eac0d1a753be87645363b3c4ada1d773/package_bgs/jmo/LocalBinaryPattern.cpp#L187)
- [GrimsonGMM](https://github.com/andrewssobral/bgslibrary/blob/9a6dabf3b53990ed8

[2014-05-16 22:02] Winawer opened #7 "Demo core dump on Ubuntu"
Clean install of opencv 2.4.9 on an Ubuntu 14.04 VM, bgslibrary builds fine but the demos immediately dump core.

[code]

and

[code]

Repeated the test with other videos, including the one in the repo (video.avi).  Same thing.  OpenCV demos and helloworlds run fine, so I don't think it's an OpenCV issue.  Compiled the code in the README as well, got the same problem:

[code]

[2014-05-16 22:11] #7 closed, assigned to nobody

[2014-05-18 22:35] #6 closed, assigned to nobody

[2014-06-04 09:55] i-lex-r opened #8 "Null pointer"
Hello Andrews.
My name is Alexander and I need your help. Your bgslibrary is really cool thing. I turned and tried BGSLibrary v1.9.1 with MFC GUI v1.4.1 - stunning result. But when I tried to create a test project and connect BGSLibrary to your code, I've got the error. Differently tried it, but I do not understand what's wrong. I'm new to development in C + +. I'm using QtCreator. Tried to do eve

[2014-06-16 21:38] #8 closed, assigned to nobody

[2014-07-22 12:56] holgerfriedrich opened #10 "cmake: exclude some components when using msvc10"
Using cmake to create msvc project files is more convenient because it automatically detects opencv path etc.
However, ck/MotionDetection uses the c++11 VLA feature which is not supported by MSVC2010 and must be excluded since nobody will remove the VLA stuff.
CMakelists.txt should do this based on the build system generator flags.

This is a minor since the MSVC files provided with bgslib work fi

[2014-07-22 13:00] holgerfriedrich opened #11 "compiler warnings"
Compiling code using bgslib headers issues a lot of warnings especially at high warning levels. I care especially for the warnings issued when using the headers, not so much for the ones wen compiling the library. Many of them could be resolved easily.

What is you policy on that? Never change imported files to be able to upgrade them to new release from the author? Or should I just put a pull req

[2014-08-06 00:34] siggiorn opened #14 "installed header files in flat directory structure"
Hey
Thanks for a great library! I noticed that when I install it (sudo make install), all the header files get copied into a flat file hierarchy under /usr/local/include/package_bgs

whereas originally they had structure for example package_bgs/dp/DPAdaptiveMedianBGS.h

This file refers to
# include "../IBGS.h"

as if the files had the original file structure

[2014-08-30 05:43] miladkakouli opened #15 "Build Error in mac osx"
it has build error on mac osx
to correct it you should change
# include <malloc.h>

in file "SJN_MultiCueBGS.h"
into this:
# if !defined(**APPLE**)
# include <malloc.h>
# else
# include <stdlib.h>
# endif

[2014-09-01 21:29] #14 closed, assigned to nobody

[2014-09-01 21:31] #15 closed, assigned to nobody

[2014-09-01 21:31] #11 closed, assigned to nobody

[2014-09-19 21:28] elfring opened #16 "Use of angle brackets around file names for include statements"
Would you like to [replace any double quotes](https://github.com/andrewssobral/bgslibrary/blob/98c8d4b8156f9e8f28fe007aa369d1ee567653b6/VideoAnalysis.h#L22) by [angle brackets around file names for include statements](http://stackoverflow.com/questions/21593/what-is-the-difference-between-include-filename-and-include-filename)?

[2014-10-27 18:06] Romukas opened #18 "Error when building on Raspberry Pi"
Hello,

I get the following error when running make command:

Building CXX object CMakeFiles/bgs.dir/package_bgs/pl/SuBSENSE.cpp.o
In file included from /home/pi/Development/bgslibrary/package_bgs/pl/BackgroundSubtractorSuBSENSE.h:3:0,
                 from /home/pi/Development/bgslibrary/package_bgs/pl/SuBSENSE.cpp:2:
/home/pi/Development/bgslibrary/package_bgs/pl/BackgroundSubtractorLBSP.h:29:10

[2014-10-30 10:13] #18 closed, assigned to nobody

[2014-12-11 22:35] osiloke opened #19 "Doesn't compile with clang 4.2 on mac osx"
Cannot compile with clang on mac osx because of misplaced headers. For example,

[code]

Apple LLVM version 4.2 (clang-425.0.28) (based on LLVM 3.2svn)
Target: x86_64-apple-darwin11.4.2
Thread model: posix

[2014-12-12 08:08] #19 closed, assigned to nobody

[2015-02-19 17:13] cmaria4 commented on #7
I have the same problem:
OpenCV Error: Null Pointer (Invalid pointer to file storage) in cvWriteString file, C:\builds\2_4_PackSlave-win32-vc12-shared\opencv\modules\core\src\persistence.cpp, line 2980
How can I fix it? The .exe file does not run!

[2015-02-19 18:47] andrewssobral commented on #7
Hi @cmaria4 , you need to create a config folder in your current working directory (as @Answeror says)

[2015-05-14 09:09] nikfloydrose opened #24 "Failed to build bgs"
Hello,
I am using Ubuntu 14.04 with opencv-3.0.0-rc1 libraries correctly installed.
I am trying to build the latest branch of bgslibrary (bgslibrary-opencv3) but when i run the make command i get the following error:

nico@nico-pc:~/Downloads/bgslibrary-opencv3/build$ make
Scanning dependencies of target bgs
[  1%] Building CXX object CMakeFiles/bgs.dir/FrameProcessor.cpp.o
[  2%] Building CXX obj

[2015-05-17 09:00] joefung opened #25 "could you provide the Help documentation?"
I try to compile with vs2012 but without success.it has been a lot of errors.I had modified the code but still a lot of errors .I did not find the help documentation on the website and I do not know how to be able to successfully apply it,.would you be able to offer the  user help documentation ? THX

[2015-05-17 09:08] joefung opened #26 "could you offer the lib file ?"
could you offer  the lib file directly be called by the C++ project which can omit the step to compile it? Indeed tried many times also modified the part of the code but still a lot of errors which led to unsuccessfully compile

[2015-06-10 15:00] erogol opened #27 "is this ready for opencv3"

[2015-06-11 16:48] andrewssobral commented on #27
Hi @erogol , yes, there is a branch called 'opencv3', please see:
https://github.com/andrewssobral/bgslibrary/tree/opencv3

[2015-06-14 21:02] andrewssobral commented on #26
Hi @joefung thank you for your suggestion. I will check if there is an easy way to do it and I will let you updated about this.

[2015-06-14 21:14] andrewssobral commented on #25
Hi @joefung there is a template project for both [VS2010](https://github.com/andrewssobral/bgslibrary/tree/master/vs2010) and [VS2013](https://github.com/andrewssobral/bgslibrary/tree/master/vs2013), I think you can built for VS2012 with a minor adjustments. An easy way is to open the *bgslibrary.vcxproj* file and make the following procedure:
* replace all occurrences of "C:\OpenCV2.4.10" with th

[2015-06-14 21:17] andrewssobral commented on #24
Hi @nikfloydrose sorry for my delayed response. I will check this problem and I will let you updated asap.

[2015-06-17 20:24] warahul opened #28 "getting error while compiling Demo.cpp"
I am trying to compile Demo.cpp with this command: g++ -o test1 Demo.cpp $(pkg-config opencv --cflags --libs)
and it throws out the error: undefined reference to `FrameDifferenceBGS::FrameDifferenceBGS()'
Please help me!!

[2015-06-21 23:46] andrewssobral commented on #28
Hi @warahul, please refer to the **[readme_linux_users.txt](https://github.com/andrewssobral/bgslibrary/blob/master/README_LINUX_USERS.txt)** file.
The **[CMakeLists.txt](https://github.com/andrewssobral/bgslibrary/blob/master/CMakeLists.txt)** file contains the procedure to compile the **[Demo.cpp](https://github.com/andrewssobral/bgslibrary/blob/master/Demo.cpp)** file.
You can refer also to the

[2015-06-21 23:47] #28 closed

[2015-06-21 23:47] #27 closed

[2015-06-23 09:06] nyotis opened #29 "library suitable for image segmentation?"
First off, awesome work!
How easy do you think it 'd be to make the library running for images?

[2015-06-25 15:33] andrewssobral commented on #29
Hi @nyotis,
There is a [Demo](https://github.com/andrewssobral/bgslibrary/blob/master/Demo2.cpp) code of running the bgslibrary with a sequence of images. You can use also the [MFC GUI](https://github.com/andrewssobral/bgslibrary/releases/download/v1.9.2_x86_mfc_gui/bgslibrary_x86_v1.9.2_with_mfc_gui_v1.4.2.7z) with images, you need to check the checkbox "The input is..." and specify the start ind

[2015-06-25 15:33] #29 closed

[2015-07-13 15:56] chengangfzu opened #30 "bgslibrary_vs2010_mfc.rc(1):error RC2135:file not found:visual when compile the bgslibrary_vs_2010_mfc.sln .how to solve this problem.Thiank you!"

[2015-07-14 07:39] skormel commented on #24
Hi,

I've got a similar compilation error, with the opencv3 branch:

Here is the output.

Scanning dependencies of target bgs
[  1%] Building CXX object CMakeFiles/bgs.dir/FrameProcessor.cpp.o
[  2%] Building CXX object CMakeFiles/bgs.dir/PreProcessor.cpp.o
[  3%] Building CXX object CMakeFiles/bgs.dir/VideoAnalysis.cpp.o
[  4%] Building CXX object CMakeFiles/bgs.dir/VideoCapture.cpp.o
[  5%] Buil

[2015-07-14 11:32] Mona77 commented on #24
Hi,

I have OS X Yosemite 10.10.3, and opecv2.4.11. I got similar error to @skormel, please help us to resolve the issue.

Thanks.

[2015-07-14 18:35] andrewssobral commented on #24
Hello guys! @nikfloydrose @skormel @Mona77
sorry for my late response.
I fixed the branch opencv3, now it works great in my Ubuntu 14.04 with OpenCV 3.0 final.
Please, let me know if it is working for you.
Best

[2015-07-14 18:35] #24 closed

[2015-07-14 20:54] Mona77 commented on #24
Hi Andrew,

Is it possible to fix the master brach as well, because I have Opencv 2.4 ?

[2015-07-15 04:20] reddelta opened #31 "Getting errors with throw.cpp using Pixel Based Adaptive Segmenter"
The pixel based adaptive segmenter in my program is running well once it is compiled. Once the video was loaded, it is starting to get errors with throw.cpp and the marker always pointing at (PULONG_PTR)&ThisException.params );

If I hide bgs->processing(img_input, img_mask); using // then the program will run but wont be able to
![1](https://cloud.githubusercontent.com/assets/13343783/8690964/3c5

[2015-07-16 02:14] andrewssobral commented on #24
Hi @Mona77, I fixed the BackgroundSubtractorLBSP class, please let me know if it works now for you.

[2015-07-27 14:09] erogol commented on #27
thanks for return

[2015-09-02 12:56] dedenker opened #32 "Null Pointer error when using webcam."
Compiled successful on Ubuntu 14.04 with OpenCV 2.4.11 (32 bit)
The demo run_video.sh runs perfect (I did not try other pre-recorded video's)
But when I want to use the webcam input, cli = bgs -uc -ca=0
I get:
OpenCV Error: Null pointer (Invalid pointer to file storage) in cvWriteString, file /home/{username}/opencv-2.4.11/modules/core/src/persistence.cpp, line 2997
std::exception:/home/{username}

[2015-09-02 13:34] Romukas commented on #32
You probably need to create empty folder named config in the directory you are running your application from.

[2015-09-02 13:59] andrewssobral commented on #32
Hi @dedenker , @Romukas  is right, the bgslibrary need a config folder to store the configuration files.

[2015-09-02 13:59] #32 closed

[2015-10-27 17:45] jesuslop opened #33 "Possible problem and fix for DPTexture"
Can't presently issue a pull request, but I think that in the line:

https://github.com/andrewssobral/bgslibrary/blob/master/package_bgs/dp/TextureBGS.cpp#L142

the operator () is invoked with arguments (x, y) but in

https://github.com/andrewssobral/bgslibrary/blob/master/package_bgs/dp/Image.h#L322

the operator () assumens (row, colum):

  // pixel-level access using image(row, col)
  inline un

[2015-11-08 21:38] andrewssobral commented on #33
Hi @jesuslop, Yes, you are right, the correct invocation should be fgMask(y,x). Thank you very much for your remark, I fixed this issue.

[2015-11-08 21:39] #33 closed

[2015-11-08 21:40] #25 closed

[2015-12-12 10:28] funnylo opened #34 "Getting error"
![untitled](https://cloud.githubusercontent.com/assets/16266106/11761439/0543078e-a0fe-11e5-8d96-19fa42a8f1a0.png)

Hi, can you tell me how to solve this problem??

[2015-12-21 09:37] zshn25 opened #35 "Can't run demo on Linux"
I followed the steps from REAME_LINUX.txt for my Ubuntu 12.04 and the run_camera.sh was working. But the other two run_video and run_demo are not. I'm not getting any error. It just doesn't show anything.
[code]
![screenshot from 2015-12-21 15 04 31](https://cloud.githubusercontent.com/assets/5270999/11927662/2c5faf32-a7f4-11e5-931d-83e6c1c8b4fd.png)

It just shows the above output and nothing els

[2015-12-21 10:25] zshn25 commented on #35
Also, when I compile the cpp demos on Ubuntu, it throws this error
[code]
![image](https://cloud.githubusercontent.com/assets/5270999/11928635/25042086-a7fb-11e5-83cc-75e3c3e8d679.png)

Please help!! Thanks.

[2015-12-21 10:57] zengzhi2015 commented on #35
Have you try to write your own image capturing sentences and incorporate the corresponding BSG class into your program. If this does not work, there may be some setting problems with the compiler or the environment.

发自我的 iPad

[2015-12-21 11:33] zshn25 commented on #35
No, but I tried all the given demos. Its showing same error with all of them. Can you tell me how to compile it? I used this line to compile
[code]

[2015-12-21 13:49] datbkhn commented on #35
You should use cmake to generate makefile to compile demos, please refer bgslibrary/CMakeLists.txt to create your own CmakeLists.txt to compile Demo2.cpp.

[2015-12-21 20:55] Romukas commented on #35
You get `undefined reference to FrameDifferenceBGS::FrameDifferenceBGS()` error because compiler doesn't know where to look for FrameDifferenceBGS object.
If you don't want to use makefiles just add corresponding cpp file to your compile command, i.e.
g++ -ggdb \`pkg-config --cflags opencv\` -o \`basename Demo.cpp .cpp\` Demo.cpp package_bgs/FrameDifferenceBGS.cpp \`pkg-config --libs opencv\`

[2015-12-22 10:41] zshn25 commented on #35
Thanks a lot @Romukas, @datbkhn, @zengzhi2015. It worked with the above compilation command.
I'll didn't try using CmakeLists.txt but I'm pretty sure it'll work.

[2015-12-22 10:41] #35 closed

[2016-01-20 12:44] lingdd commented on #34
There are three main functions in demo.cpp, demo2.cpp and Main.cpp, You can comment the other file and make one main function run in one time.

[2016-01-20 14:27] lingdd opened #36 "OpenCV Error: Null pointer (Invalid pointer to file storage) in cvWriteInt"
Hi, There are some errors when I run the vs2010 demo!
OpenCV Error: Null pointer (Invalid pointer to file storage) in cvWriteInt, file
 ..\..\..\..\opencv\modules\core\src\persistence.cpp, line 2964

[2016-01-20 14:42] #36 closed

[2016-01-26 10:47] #34 closed

[2016-01-26 10:49] andrewssobral commented on #34
Thank you for your help @lingdd

[2016-01-26 10:52] andrewssobral commented on #31
Hi, the PBAS method was removed from bgslibrary a long time ago due to patent breaking (ViBE). You can try the PBAS implementation available at: https://sites.google.com/site/pbassegmenter/home

[2016-01-26 10:52] #31 closed

[2016-01-26 10:55] andrewssobral commented on #36
This error occurs when *config* folder does not exists. Thank you for reporting this issue.

[2016-01-26 18:46] tolgayilmaz86 opened #37 "cannot convert from 'const char [1]' to 'char"
"cannot convert from 'const char [1]' to 'char *'Conversion from string literal loses const qualifier"
error at PerformanceUtils class ImageROC and PerformanceEvaluation functions while compiling with Qt Creator on windows 64 with opencv3. After commenting out these functions it compiles and works properly.

[2016-01-26 18:49] andrewssobral commented on #37
Hi @tolgayilmaz86 thank you for reporting this issue, I will check this.
Do you have used the opencv3 branch of the bgslibrary?
Best regards,
Andrews

[2016-01-26 18:54] tolgayilmaz86 commented on #37
yes i am working with opencv3 as much as possible.

[2016-03-25 11:57] ibazkom opened #38 "Access Violation Reading"
Been try to use this library, some of method worked, but others not. Basic method absolutely fine, i got no problem compile it and ran it. I got "access violation reading location" error when trying others package. Mostly the error comes in the function "operator" in RgbPixel Class.
![bgs_error2](https://cloud.githubusercontent.com/assets/3023899/14057069/253a3040-f328-11e5-82f6-8a8b744092f0.png)

[2016-03-25 23:48] ibazkom commented on #38
Well, this is error that i'm talking about
![bgs_error2](https://cloud.githubusercontent.com/assets/3023899/14056439/9d9f0088-f31e-11e5-9c4b-1f6f0ece48d1.png)

[2016-03-28 11:59] MDreamer opened #39 "fail on build"
Hi,

I'm working with Ubuntu 14.04LTS and just downloaded openCV-3.1.0 and built it successfully. also checked it using the demo examples. When I try to build the bgslibrary I get the following error: (It happens after the cmake)

$ make
Scanning dependencies of target bgs
[  1%] Building CXX object CMakeFiles/bgs.dir/home/myuser/Downloads/bgslibrary-master/package_bgs/jmo/BlobResult.cpp.o
In file

[2016-03-31 16:52] jiapei100 opened #40 "NOT Compatible with OpenCV3+"
At least, one issue can be found at  http://code.opencv.org/issues/2778

Cheers
Pei

[2016-04-02 07:57] jiapei100 commented on #40
https://github.com/andrewssobral/bgslibrary/tree/opencv3

[2016-04-02 07:57] #40 closed

[2016-04-02 13:05] andrewssobral commented on #40
Hi @jiapei100 sorry for my delayed response, yes there is a bgslibrary branch for opencv3. Maybe I'll put the current master branch to a new branch called opencv2.4, and next I'll put the opencv3 branch in the master branch. Thank you

[2016-04-04 23:36] anatolix commented on #39
It is not compatible with opencv 3.1
I just have created a branch - https://github.com/anatolix/bgslibrary/tree/opencv3.1.0
It builds for me. Haven't tested it yet.

[2016-04-05 15:58] gustavovelascoh commented on #39
I have installed OpenCV 3.1.0 and build bgslibrary without problem, and the demos run fine. I have to remark that I had to disable CUDA and OPENCL support in order to OpenCV to work.

[2016-04-05 18:56] andrewssobral commented on #39
Hi @MDreamer have you used the opencv3 branch of bgslibrary?

[2016-04-05 19:12] andrewssobral commented on #38
Hi @ibazkom have you tried with [vs2010](https://github.com/andrewssobral/bgslibrary/tree/master/vs2010) or [vs2013](https://github.com/andrewssobral/bgslibrary/tree/master/vs2013) template project?

[2016-04-06 11:32] MDreamer commented on #39
Hi guys,
Thank you for your help. I didn't use the opencv designated branch. I'll use @anatolix branch and will update you once I've tried to.

Cheers
Maayan

[2016-04-06 19:06] gustavovelascoh commented on #39
I switched to new opencv3.x branch and tried to compile the library but this error appears:

[code]

I guess it is because OpenCV were built without opencv_contrib, but previously branch opencv3 did compile without errors. @andrewssobral , Should documentation/instructions be updated for using this new branch opencv3.x?

[2016-04-08 13:31] MDreamer commented on #39
Hi @andrewssobral and @anatolix , I used you branch instead of trying to make it work in version 3 of opencv
"Close but no cigar". It fails on 97%

[ 97%] Building CXX object CMakeFiles/bgs.dir/package_analysis/ForegroundMaskAnalysis.cpp.o
make[2]: *** No rule to make target `/home/myuser/OpenCV/opencv-3.1.0/lib/libopencv_videostab.so.3.1.0', needed by `libbgs.so'.  Stop.
make[1]: *** [CMakeFiles/

[2016-04-12 02:39] jiapei100 opened #42 "bgslibrary opencv3 NO rule to install..."
Installing with make install...

========================= Installation results ===========================
make: *** No rule to make target 'install'.  Stop.

****  Installation failed. Aborting package creation.

Cleaning up...OK

Bye.

[2016-04-13 17:05] mariantonia opened #43 "MixtureOfGaussianV1BGS and MixtureOfGaussianV2BGS are they the same?"
I looked up both files and I realize they are the same

"
mog(img_input, img_foreground, alpha);

  cv::Mat img_background;
  mog.getBackgroundImage(img_background);
"
Why is that?

[2016-04-14 04:38] zengzhi2015 commented on #43
Hi, it seems that they are not the same. Please look at the .h file. In the MOG1, there is a member cv::BackgroundSubtractorMOG mog; However, in the MOG, the member is cv::BackgroundSubtractorMOG2 mog. I think these two classes are different.
Hope this explanation helps.

[2016-04-14 07:07] MDreamer commented on #39
Guy? I would love some help :)

[2016-04-14 10:38] MDreamer commented on #39
got it guys. Downloaded 3.0.0 version and its working now. Thanks you all :)

[2016-04-14 10:39] #39 closed

[2016-04-23 22:40] #10 closed

[2016-04-23 22:47] #43 closed

[2016-04-25 18:59] andrewssobral commented on #42
Hi @jiapei100,
I updated the [CMakeLists.txt](https://github.com/andrewssobral/bgslibrary/blob/opencv3/CMakeLists.txt) file for the opencv3 branch.
After **./make install** you need to copy the **config** folder from bgslibrary repository to your working place.

[2016-04-25 18:59] #42 closed

[2016-04-26 13:15] andrewssobral commented on #38
You can also generate a template project for visual studio using CMake. To do this, you can follow the instructions in [README_CMAKE_USERS.tx](https://github.com/andrewssobral/bgslibrary/blob/master/README_CMAKE_USERS.txt) file.

[2016-04-26 13:15] #38 closed

[2016-04-26 13:21] andrewssobral commented on #26
For Linux users, after CMake procedure, a **libbgs.so** is generated and then copied to **/usr/local/lib/lib**. The include files of **package_bgs** is copied to **/usr/local/include/package_bgs**.
For Windows users, a lib file called **bgs.lib** is also generated.
To do this, please follow the instructions in the [README_CMAKE_USERS.txt](https://github.com/andrewssobral/bgslibrary/blob/master/REA

[2016-04-26 13:21] #26 closed

[2016-04-26 13:24] andrewssobral commented on #37
Hi @tolgayilmaz86 please let me know if this error occur in the updated opencv3 branch.
I hope all goes well now.

[2016-04-26 13:24] #37 closed

[2016-04-26 13:26] andrewssobral commented on #39
Hi @MDreamer, can you try the updated opencv3 branch? I hope all goes well now.
I tested with OpenCV 3.1.0 and it works great in my laptop.

[2016-04-28 01:03] Rodrigo-P opened #44 "Problem during make"
I'm trying to install the library and I get this error during _make_
`[  1%] Building CXX object CMakeFiles/bgs.dir/FrameProcessor.cpp.o
In file included from /home/rodrigo/Downloads/bgslibrary/FrameProcessor.h:29:0,
                 from /home/rodrigo/Downloads/bgslibrary/FrameProcessor.cpp:17:
/home/rodrigo/Downloads/bgslibrary/package_bgs/MixtureOfGaussianV1BGS.h:30:3: error: ‘BackgroundSubtrac

[2016-04-28 13:10] andrewssobral commented on #44
Hi @Rodrigo-P which version of OpenCV are you using?

[2016-04-28 18:17] Rodrigo-P commented on #44
3.1.0

[2016-04-28 19:10] andrewssobral commented on #44
Do you have tried the [opencv3 branch](https://github.com/andrewssobral/bgslibrary/tree/opencv3) of bgslibrary?

[2016-04-28 20:20] Rodrigo-P commented on #44
It gives the same error.

[2016-04-28 20:27] gustavovelascoh commented on #44
What OS and what version of g++ are you using?

[2016-04-28 20:32] andrewssobral commented on #44
Hi @gustavovelascoh I compiled on a pre-built image with Ubuntu 14.04.4 LTS + OpenCV 3.1.0 + Python 2.7, and gcc 4.8.4. The docker image is available here: https://hub.docker.com/r/andrewssobral/bgslibrary_opencv3/

[2016-04-28 21:05] gustavovelascoh commented on #44
Hi @andrewssobral, I was asking to  @Rodrigo-P,  :).. BTW, I have successfully built it using Ubuntu 14.04.4/g++ 4.8.4 and Ubuntu 16.04./g++ 5.3

[2016-04-28 21:20] andrewssobral commented on #44
Thank you @gustavovelascoh ;)

[2016-04-28 21:43] Rodrigo-P commented on #44
My g++ is 4.8.4

[2016-04-28 21:58] andrewssobral commented on #44
Hi @Rodrigo-P, one question, the errors when you compile the opencv3 branch are the same of posted initially? because the *master* branch of bgslibrary is only for opencv 2.4.x.
Usually if you compile the *master* branch with OpenCV 3 you will get:
``
[ 1%] Building CXX object CMakeFiles/bgs.dir/FrameProcessor.cpp.o In file included from /home/rodrigo/Downloads/bgslibrary/FrameProcessor.h:29:0, fr

[2016-04-28 22:15] Rodrigo-P commented on #44
'[  1%] Building CXX object CMakeFiles/bgs.dir/FrameProcessor.cpp.o
In file included from /home/rodrigo/Downloads/bgslibrary/FrameProcessor.h:29:0,
                 from /home/rodrigo/Downloads/bgslibrary/FrameProcessor.cpp:17:
/home/rodrigo/Downloads/bgslibrary/package_bgs/MixtureOfGaussianV1BGS.h:30:3: error: ‘BackgroundSubtractorMOG’ in namespace ‘cv’ does not name a type
   cv::BackgroundSubtr

[2016-04-28 22:27] andrewssobral commented on #44
There is something wrong. Can you please compare your ``/home/rodrigo/Downloads/bgslibrary/package_bgs/MixtureOfGaussianV1BGS.h`` file with this ``https://github.com/andrewssobral/bgslibrary/blob/opencv3/package_bgs/MixtureOfGaussianV1BGS.h``

[2016-04-28 22:43] Rodrigo-P commented on #44
it's different but it's the arquive that came with the opencv3 branch.

[2016-04-29 13:28] MDreamer commented on #39
I already did before. I no changes were made I guess there is no point in that is it?

[2016-04-29 14:09] andrewssobral commented on #44
I updated the cmake files from bgslibrary for both opencv 2 and 3 branches.
Please, can you delete your bgslibrary folder and try again by:
[code]
This is my output (without warnings):
[code]

[2016-04-29 14:39] andrewssobral commented on #39
Hi @MDreamer please can you check my last post on https://github.com/andrewssobral/bgslibrary/issues/44, let me know if this help you

[2016-04-29 18:17] Rodrigo-P commented on #44
It gives this error now:
`rodrigo@rodrigo-X451CA:~/Downloads/bgslibrary/build$ cmake ..
-- OpenCV library status:
--     version: 3.1.0
--     libraries: opencv_videostab;opencv_videoio;opencv_video;opencv_superres;opencv_stitching;opencv_shape;opencv_photo;opencv_objdetect;opencv_ml;opencv_imgproc;opencv_imgcodecs;opencv_highgui;opencv_flann;opencv_features2d;opencv_core;opencv_calib3d
--     inc

[2016-04-29 20:01] andrewssobral commented on #44
That's what I thought: `OpenCV version is not compatible: 3.1.0`
This message appears when you are compiling the **master** branch of the bgslibrary with opencv 3.1.0.
https://github.com/andrewssobral/bgslibrary/blob/master/CMakeLists.txt
Note that the cmake file from the **opencv3** branch is different:
https://github.com/andrewssobral/bgslibrary/blob/opencv3/CMakeLists.txt
There are something wr

[2016-04-29 20:01] #44 closed

[2016-04-29 20:42] Rodrigo-P commented on #44
It's working now.
I downloaded the zip file and got the right version.

[2016-04-29 21:32] Rodrigo-P commented on #44
Just one more thing.
I'm going to play around with other videos, how can I make the window resizable?

[2016-04-29 21:40] andrewssobral commented on #44
You can change the parameter `input_resize_percent` in the [VideoCapture.xml](https://github.com/andrewssobral/bgslibrary/blob/master/config/VideoCapture.xml) file.
`<input_resize_percent>100</input_resize_percent>` is for 100% (original video resolution).
`<input_resize_percent>50</input_resize_percent>` is for resizing to 50% of the original video resolution.

[2016-05-02 19:21] Rodrigo-P commented on #44
Thank you.

[2016-05-14 20:47] gustavovelascoh opened #45 "What is the official branch for OpenCV3.1.0?"
Hi, I've found that there are two branches regarding OpenCV 3, **opencv3** and **opencv3.x**. What will be official for supporting OpenCV 3.1+? Or Is there any reason for preserve both?

[2016-05-14 22:46] andrewssobral commented on #45
Hi @gustavovelascoh the official branch for OpenCV 3.1+ is [opencv3](https://github.com/andrewssobral/bgslibrary/tree/opencv3). I disabled the opencv3.x branch.

[2016-05-14 22:46] #45 closed

[2016-05-15 11:11] muglikar opened #46 "cmake on linux shows OpenCV version is not compatible: 3.1.0"
cmake on linux shows OpenCV version is not compatible: 3.1.0

CMake Error at CMakeLists.txt:28 (message):
  OpenCV version is not compatible: 3.1.0

[2016-05-15 11:14] muglikar commented on #46
Commenting the lines related to OpenCV version not compatible in CMakeLists.txt gives this error:

#if(${OpenCV_VERSION} VERSION_EQUAL 3 OR ${OpenCV_VERSION} VERSION_GREATER 3)
#  message (FATAL_ERROR "OpenCV version is not compatible: ${OpenCV_VERSION}")
#endif()

New Error Now after using 'make':

[  1%] Building CXX object CMakeFiles/bgs.dir/FrameProcessor.cpp.o
In file included from /home/anan

[2016-05-15 15:01] andrewssobral commented on #46
Hi @muglikar please see this issue https://github.com/andrewssobral/bgslibrary/issues/44

[2016-05-15 15:01] #46 closed

[2016-06-07 20:37] andrewssobral commented on #30
Hi @chengangfzu
please check https://github.com/andrewssobral/bgslibrary/tree/master/vs2013mfc if this error still happens

[2016-06-07 20:37] #30 closed

[2016-06-17 12:38] mraxilus commented on #7
Shouldn't that be added to the readme then? I had the same problem.

[2016-07-10 02:17] podlipensky opened #47 "Please clarify used papers"
Hi,

Looks like implementation of Gaussian Mixture Model (GMM or MoG) in DPZivkovicAGMMBGS.cpp is based on Fuzzy GMM (based on equations used in the code). Only LBMixtureOfGaussians.cpp is based on original Zivkovic papers. If I'm looking in wrong papers - please provide reference to the correct one. Thank you.

[2016-07-22 12:42] nikkoara opened #48 "Temporal median implementation accuracy"
After reading the Calderara paper linked in the Temporal Median implementation (see section 2.2) I believe that the implementation is not faithful to the description of the algorithm. In particular the low and hight thresholds used to binarize the foreground mask are not per-pixel thresholds, but global.

[2016-08-12 13:06] jiapei100 opened #49 "error: expected unqualified-id before numeric constant"
Hi, Andrew:

I upgraded from Ubuntu 14.04 to 16.04, with GCC 5.4.0 + OpenCV 3.1.0, I failed to build the bgslibrary, with the following error messages:

it looks like this file **dp/Bgs.h**, the following 2 lines

[code]

is buggy, which seems to be weird to me....

Any suggestions?

Cheers
Pei

[2016-10-06 08:50] anhlt309 opened #51 "Support GPU"
Does this library support GPU (like cuda)? I use your library in my project but performane is quite low, not realtime with video HD (1280x720, 12fps). Thanks!

[2016-10-14 16:40] andrewssobral commented on #51
Hi @anhlt309, unfortunately the bgslibrary library does not support GPU yet =/
But it will be a nice feature for a future version...I'm always open for everyone that wants to propose new contributions or new features. I have a lot of improvements that I would like to do in the bgslibrary, but currently my doctoral research takes me a lot of time... =/

[2016-10-14 23:25] andrewssobral commented on #49
Hi @jiapei100 sorry for my late response and thank you for the information.
I have built the bgslibrary (opencv3 branch) on Ubuntu 16:04 without errors, you can check in my latest docker image available at https://hub.docker.com/r/andrewssobral/bgslibrary_opencv3/
this docker image contains:
Ubuntu 16.04 + GCC 5.4.0 + VNC + OpenCV 3.1.0 (+ contrib) + Python 2.7 + BGSLibrary

[2016-10-14 23:27] andrewssobral commented on #49
Thank you also for the pull request:
https://github.com/andrewssobral/bgslibrary/pull/50
however, you will need to send it to the opencv3 branch instead of the master branch

[2016-10-28 15:30] dmelo opened #53 "Library files installed all directly under /usr/local/include/package_bgs/"
On the source code, the library files are placed inside sub directories, like `bgslibrary/package_bgs/[lb,ae,av,bl]``... After installing using the default parameters, all the library files get inside the same dir``/usr/local/include/package_bgs/``, which causes compilation error, because those files are still including other library files on the parent path:

[code]

When I try to compile with th

[2016-10-28 15:48] andrewssobral commented on #53
Thank you @dmelo for reporting this issue, I will check it in the next few days.

[2017-01-03 10:31] murari023 opened #55 "Problem in Demo.cpp while building in VS 2013"
I am trying to build the vs 2013 solution and while building the demo.cpp it is giving 2 errors
1. error LNK1169: one or more multiply defined symbols found	C:\bgslibrary\RESULTS\bgslibrary.exe
2. error LNK2005: _main already defined in Demo.obj	C:\bgslibrary\vs2013\Main.obj

[2017-01-03 12:32] murari023 commented on #36
Then how to solve this problem? In VS 2013 also i am facing the same issue. The solution is building but the setup is not running

[2017-01-16 16:51] andrewssobral commented on #36
Hi @murari023 you need to create a **config** folder in your project path, bgslibrary use it to store the configuration files...

[2017-01-16 17:21] andrewssobral commented on #55
Hi @murari023 thank you for reporting this issue...
Do you have created your own vs2013 project? or you have used the pre-created vs2013 project of the bgslibrary?

[2017-03-19 02:15] #55 closed

[2017-03-19 22:37] #49 closed

[2017-03-20 10:06] serhannn opened #56 "Error building qt GUI on Ubuntu"
Hi, I'm on Ubuntu 16.04 with GCC version 5.4.1. While making the qt gui, I get the following error related to `libgtk`:

[code]

I did a Google search and found out that some people got rid of this error by removing `anaconda/lib` folder from their `LD_LIBRARY_PATH`. I tried that but it did not solve the problem for me. Any suggestions?

[2017-03-21 12:17] andrewssobral commented on #56
Hi @serhannn thank you for reporting this issue, I am checking this...

[2017-03-21 16:28] serhannn commented on #56
@andrewssobral Thank you, but never mind, I solved the problem and got it working. It was an issue about the linkage of `libgtk-3`. Through the command `ldd /usr/lib/x86_64-linux-gnu/libgtk-3.so.0`, I figured out that it depends on `libcairo` which was pointing to the `lib` directory in my Anaconda installation. I found out that the library was outdated and update it to version 1.14.8 by `conda up

[2017-03-21 16:29] #56 closed

[2017-03-21 16:48] andrewssobral commented on #56
Perfect! Thank you @serhannn for providing such details ;-)

[2017-03-24 12:04] aliufukyaman opened #57 "Missing Platform files for "BGSLibrary v2.0.0 with QT GUI""
Dear Sobral,

The application in "BGSLibrary v2.0.0 with QT GUI" does not work due to missing platform files for Windows, you may have point not to add it but it may be hard for someone to find the right version of the plugins (qwindows.dll ) for relevant Qt version, compiler type and architecture to make it work. Could you also provide the needed files with the package? (QTDir/../../plugins/platf

[2017-03-24 14:04] andrewssobral commented on #57
Thanks for reporting this issue @aliufukyaman , I am checking it and I will let you updated soon as possible.

[2017-03-28 10:08] Bahramudin opened #58 "It seems that bgslibrary doesn't have wrapper for the Java"
If there is no wrapper for the Java, then how can we use this in Java? Thanks!!

[2017-03-28 11:58] andrewssobral commented on #58
Hi @Bahramudin , yes, the bgslibrary does not have java wrapper yet, just a java-based user interface, but I am working on this for the next major update.

[2017-03-28 12:30] Bahramudin commented on #58
@andrewssobral That will be great, I am waiting for that. Hope to achieve in the soon next!!

[2017-03-30 20:02] cartycrabber commented on #57
Is there any way to make it work for now?

[2017-03-30 20:17] andrewssobral commented on #57
Hi @aliufukyaman and @cartycrabber , sorry for my late update.
Can you both check if copying and pasting the DLL file below in your working directory the QT GUI works fine?
[code]
Just to see if there is other missing DLL's in the package, so I can update **bgslibrary2_qtgui_opencv320_x64.zip** with all dependencies. Thanks in advance!

[2017-03-30 20:32] aliufukyaman commented on #57
Hi Sobral,

Thanks for the fix. Yes it works, Of course it has to be in a folder named "platforms".

Btw, The execution time in ms for per frame that exist at MFC version is so useful, to my opinion it would be great to be shown also on QT version.

Thanks for your interest.

[2017-03-30 20:34] cartycrabber commented on #57
Placing that file in a folder named platforms in the main directory worked for me as well, thanks!

[2017-03-30 20:35] andrewssobral commented on #57
Thanks @aliufukyaman and @cartycrabber , I am updating the **bgslibrary2_qtgui_opencv320_x64.zip** package.
@aliufukyaman I will take your suggestion for the next update of the QT GUI. Thanks!

[2017-03-30 20:35] #57 closed

[2017-03-31 23:15] andrewssobral commented on #58
Hi @Bahramudin ,
I would like to inform you that the Java wrapper for the BGSLibrary 2 is out, please see:
https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Java
Best

[2017-04-01 02:30] Bahramudin commented on #58
@andrewssobral Thank You!!

[2017-04-03 12:45] Bahramudin commented on #58
@andrewssobral  Could you please some more details about how to generate the wrapper for java in window step by step? I have tried a lot many times as you gave the docs before, but it was not  success, maybe there is something wrong. E.g: you said that _"Running CMAKE with Visual Studio 2015 and OpenCV 3.2.0 (x64)"_ CMAKE with Visual Studio? There is CMake GUI do you mean by that, or how to run it

[2017-04-05 02:56] Bahramudin commented on #58
@andrewssobral  Here I have some questions, I really did not understand your declaration about how to make Java wrapper. Can you please present better documentation about this? For example **what do you mean by:** _Running CMAKE with Visual Studio 2015 and OpenCV 3.2.0 (x64)_  **And also** where we can run the commands, I am a windows user.

[2017-04-05 09:41] mtastal opened #59 "Java_Warper"
Hi Andrew
Thank you for your great effort. I need to know how can I integrate this library with a java code. I have a java code that was built for vehicle counting  based on the MOG2 algorithm of opencv3.2. I need to replace this algorithm with a better one, and I need to try between all of your library algorithm listed . In other word, Is it possible to call an algorithm from your library to be i

[2017-04-05 18:26] andrewssobral commented on #58
@Bahramudin , I make a tutorial video showing all steps for compiling the Java wrapper for Windows users.
All steps showed in the video are described here:
https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Java
Please see the tutorial video here:
https://www.youtube.com/watch?v=yUTGxtzbn3A

[2017-04-05 18:35] andrewssobral commented on #59
Hi @mtastal ,
Yes, you can integrate the bgslibrary in your Java code.
You can download the pre-built binaries or compile the Java wrapper from scratch, please see:
https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Java
I make a tutorial video showing all steps for compiling the Java wrapper for Windows users.
Please see the tutorial video here:
https://www.youtube.com/watch?v=yUTGxtzbn3A

[2017-04-07 08:35] Bahramudin commented on #58
@andrewssobral I have tried your tutorial step by step, but at the end it was not success. It is the message of Visual Studio` ========== Build: 3 succeeded, 1 failed, 0 up-to-date, 0 skipped ========== ` And also this the message I got when do cmake `You have called ADD_LIBRARY for library libbgs without any source files. This typically indicates a problem with your CMakeLists.txt file`.

I am wo

[2017-04-07 15:16] andrewssobral commented on #58
Hi @Bahramudin, this has already been done, please see "Download binaries" from:
https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Java

Please, can you copy&paste here the Visual Studio error?

[2017-04-11 21:03] #58 closed

[2017-04-11 21:03] #59 closed

[2017-04-12 01:51] Bahramudin commented on #58
@andrewssobral If has already done, then how to use, which .dll file we need and how to load the libs, and where is the JAR file of your project to be included in our project. I think it is not good way to everyone build the libs by themselves, because VS2015 of installing cmake and other things is really not easy for everyone to do, and also take lot of space, really useless, it is better to you

[2017-04-12 02:36] Drdestiny opened #61 "How can I use this"

[2017-04-12 02:36] #61 closed

[2017-04-12 02:39] Drdestiny opened #62 "How can I use bgslibrary to support my project using opencv3.0?"
Hi!
**I know that this library supports opencv2.x. But I don't understand how to support my project using opencv3.0.**
Thanks!

[2017-04-12 09:32] andrewssobral commented on #62
Hi @Drdestiny the library is fully compatible with 2.x and 3.x
You can find some additional information about how to use it in your project here:
https://github.com/andrewssobral/bgslibrary/wiki/How-to-integrate-BGSLibrary-in-your-own-CPP-code
Hope this help you,
Best

[2017-04-12 09:32] #62 closed

[2017-04-15 03:21] Drdestiny commented on #62
Thank you very much!

[2017-04-18 03:20] mchtech opened #63 "BGSLibrary v2.0.0 with QT GUI - qwindows.dll is placed in wrong directory"
bgslibrary2_qtgui_opencv320_x64.zip
qwindows.dll should be placed in "platforms" folder (**in production environment**), not the root directory. Otherwise, the program will output an error：

[code]

In development environment, it works normally, while in production environment, it exits with the error.

[2017-04-18 03:23] yangxiuwu opened #64 "run_demo can not run correctly on mac os 10.12.4"
when run ./run_demo.sh , no images windows show.
capture >> img_input;
    if (img_input.empty()) {
            std::cout << "img_input is empty" << std::endl;
            break;
    }
capture has opened video.avi, why was  img_input  empty?

[2017-04-18 03:49] yangxiuwu opened #65 "run_video.sh on mac os 10.12.4 report Frame is not ready"
./run_video.sh
-----------------------------------------
Background Subtraction Library v2.0.0
http://code.google.com/p/bgslibrary
by:
Andrews Sobral (andrewssobral@gmail.com)
-----------------------------------------
Using OpenCV version 3.2.0
VideoAnalysis()
use_file:    1
filename:    dataset/video.avi
use_camera:  0
cameraIndex: 0
use_comp:    0
frameToStop: 0
imgref:
VideoCapture()
FrameProce

[2017-04-25 17:53] dsmbgu8 opened #66 "dataset/video files cause segfault on osx"
Hi there,

Just wanted to let you know that running the bgsdemo binary and the python wrapper using the {demo,video}.avi files in the dataset directory causes a segfault, apparently in the cv2.VideoCapture module. However, both the bgsdemo and python wrapper work with other movie files.

Tested with:
OSX Version 10.11.6
Both OpenCV 2.4 and 3.2
Python 2.7

[2017-04-27 03:31] Bahramudin opened #67 "Where to place and load the library"
I am trying to load the library, but it is not loading success and throws the exception below:

`Exception in thread "main" java.lang.UnsatisfiedLinkError: C:\build\java\x64\libbgs_java_module.dll: Can't find dependent libraries`

I have placed the library in all places like classpath, root directory of the project. What can be the problem.

[2017-04-27 09:32] Bahramudin opened #68 "Build fails every time"
I have done every step as you did in the video, but this error happens:

**cMake:**

**Visual Studio:**

[2017-04-30 12:42] okoky-krypto opened #69 "Python wrapper build does not generate libbgs.so"
I followed the python wrapper build guide and the build works without any errors and the demos work fine except the python one. The libbgs.so does not seem to be created anywhere, only libbgs.a and libbgs.dylib get created. Can you please provide any information regarding this.

[2017-05-02 11:04] mrgloom commented on #57
I'm using bgslibrary2_qtgui_opencv320_x64 and I get error:

[2017-05-03 04:42] ARUNSOORAJPS opened #70 "OpenCV error while calling the bgs function"
Hi.. I installed BGS Library in ubuntu with python wrappers and when I tried to run the demo.py or any other python program, I was not able to call any bgs function. I am getting OpenCV null pointer error. Attaching the error message here.

FrameDifference()
OpenCV Error: Null pointer (Invalid pointer to file storage) in cvWriteInt, file /home/arun/opencv/modules/core/src/persistance.cpp , line 45

[2017-05-03 19:05] Romukas commented on #70
Hi, you're probably missing _config_ folder.

[2017-05-14 17:09] guatnutz opened #71 "error running ./run_camera.sh"
It looks like I was able to compile bgslibrary without it ending with an error.

When I run ./run_camera.sh from its default location with sudo or un-elevated I receive the following error.

[code]

I am using a virtualenv, but I've tried running it both ways and it yields the same results.  I know the camera is working, it runs fine when I'm using cv2/picamera.  Also, regardless of what the above

[2017-05-15 08:47] guatnutz commented on #71
... Now I'm getting this error...

[code]

[2017-05-15 08:54] guatnutz commented on #71
Ignore last post it's OE

[2017-05-19 12:36] rlifz opened #72 "Memory leak - Python Wrapper"
I tested the python wrapper with Demo.py, but change the video source and noticed that the memory doesn't stop growing. Even with the example video there is a memory leak, I tested it with differents algorithms and some results.
Any suggestion to fix this? I used openCV 3.1 and python 2.7 for these tests.

Thanks.

[2017-06-02 12:27] burnzzz opened #73 "When I try to compile the QT Gui I get the following error. I use Ubuntu16.04, OpenCV3.2 and I have QT5.9 installed. I think the later is the problem, because your code is compatible with QT 5.3. You see an easy way to fix this for the current QT release?"

[2017-06-02 12:28] #73 closed

[2017-06-02 12:31] burnzzz opened #74 "QT Gui - QT 5.9 compile error"
I get the following error, when I try to compile the QT gui example with Ubuntu 16.04, OpenCV 3.2 and QT5.9.

I think it´s because of incompatible changes between QT 5.3 and QT 5.9?
Do you see an easy fix for this?

[code]

[2017-06-07 09:26] Mikkke46 commented on #36
Hello, i have the same problem. But the config exist folder.

[2017-06-11 08:40] fuxSocial opened #75 "Background Subtractor Error Opencv 2.4.9"
I'm working on OpenCV 2.4.9 32 bit and I am getting the following linking error:
[LinkingError.txt](https://github.com/andrewssobral/bgslibrary/files/1066312/LinkingError.txt)
Here is my code:

[MOG.txt](https://github.com/andrewssobral/bgslibrary/files/1066313/MOG.txt)
Somehow I got the linking error. Please help me

[2017-06-14 01:56] hungsn96 opened #76 "i have problems with my new project in BGS Library, help me!"
Error	8	error C4996: 'strcpy': This function or variable may be unsafe. Consider using strcpy_s instead. To disable deprecation, use _CRT_SECURE_NO_WARNINGS. See online help for details.	E:\opencv\build\include\opencv2\legacy\blobtrack.hpp	187	1	bgslibrary

[2017-06-27 06:05] johnsietsma commented on #57
Just to confirm, as aliufukyaman suggested, I needed to create a "platforms" directory and move qwindows.dll into that folder to fix this error. So it seems there is still an issue with the QT zip.

[2017-07-09 00:35] bw4sz opened #77 "Python_Boost path during bgs cmake, Windows, Visual Studio 2017"
Thanks for your great work in making this tool available. I think I'm very close to a windows python build, but just missing that final link. I compiled opencv and boost (1.64.0) from source using cmake 3.9.0. During bgs cmake I get

[code]

I think my boost source is here

![image](https://user-images.githubusercontent.com/1208492/27990127-d5ea50b4-6401-11e7-96ab-674b4f871e64.png)

I'm not100% fa

[2017-07-10 00:10] bw4sz commented on #77
For future reference. SO question is here.

https://stackoverflow.com/questions/45002215/point-findboost-cmake-to-boost-python-windows-10-vs-2017

[2017-07-10 13:34] bw4sz commented on #77
I hope this helps someone in the future. Question answered on SO.

[2017-07-10 13:34] #77 closed

[2017-07-11 00:02] bw4sz opened #78 "Visual Studio Build Error, Windows, Python Support. Mixing a dll boost library"
I would like to build BGSLibrary with python support on Windows with Visual Studio 2017. I am very close. I have OpenCV and Boost Built from source. CMake looks good.

![image](https://user-images.githubusercontent.com/1208492/28045091-e9a8f0b2-658f-11e7-87c1-bd673e2b7457.png)

The visual studio runs into a funny error that I can't quite understand. When building libbgs, everything compiles except

[2017-07-11 09:38] andrewssobral commented on #78
Hello @bw4sz ,
I would like to thank you for your great effort to make python support on Windows platform.
Your instructions are very useful, thanks!
In my side, I will check if I can fix it in my free time.
Please, feel free to add new instructions here if you have something new in your side.
Best

[2017-07-11 09:40] andrewssobral commented on #76
Hi @hungsn96 ,
This seems to be an error from the opencv side.
Which version of opencv you are using?

[2017-07-11 09:43] andrewssobral commented on #75
Hi @fuxSocial ,
This is a linking error, you need to check if your compiler have found the opencv libraries.
Can you inform your OS, Compiler, IDE, ... ?

[2017-07-11 09:45] andrewssobral commented on #72
Hi @rlifz ,
Sorry for my long delayed feedback, I was in a very busy time.
Thanks for reporting this issue.
I will check this, and I let you updated if I have something new in my side.
Best

[2017-07-11 09:57] andrewssobral commented on #77
Thank you @bw4sz for opening this issue, and thanks for the instructions, they are very welcome!
I had some problems to build the python support for bgslibrary in windows, and I still working on this. =/

[2017-07-11 15:49] bw4sz commented on #78
Alright, I'll continue with this, blog post style. That particularly error can be solved

1>C:\Program Files\boost_1_64_0\boost/config/auto_link.hpp(370): fatal error C1189: #error:  "Mixing a dll boost library with a static runtime is a really bad idea..."

can be solved by making sure you build boost with the runtime-link=static e.g

[code]

Now i'm at a bunch of undefined opencv references. A f

[2017-07-11 20:40] bw4sz commented on #78
Just coming the theme here. I Can confirm that opencv must be built from Visual Studio, not MinGW, or else BGSLibrary can't find the .lib files. Motoring along. Now i've got.

[code]

Which looks like internal bgslibrary functions. Any idea where they are? Clearly this is another dependency that Visual Studio needs specified manually. A bit more confusing since I'm guessing its something compiled

[2017-07-12 03:38] bw4sz commented on #78
Almost there. Summary so far, I will revise if needed.

On Windows 10, Visual Studio Community 2017, Cmake 3.9.

1. Visual Studio Install options
![image](https://user-images.githubusercontent.com/1208492/28100602-f0c75260-6677-11e7-88ca-ed417d278b6c.png)

2. Download Boost, Install Script 2. Run from within Visual Studio Command Line Terminal

[code]
 3. Rename libboost<whatever version>.lib to p

[2017-07-12 13:05] andrewssobral commented on #78
Hello @bw4sz ,
I successfully built the python support for bgslibrary based on OpenCV 2.4.10, Anaconda Python 2.7.13, Boost 1.64.0 and Visual Studio 2013 Pro on Windows 10 Pro (all set to x64).
The **Demo.py** file worked fine with a few changes.
Now, I will try to compile it with OpenCV 3.2.0, Anaconda Python 2.7.13, Boost 1.64.0 and Visual Studio 2015 Pro on Windows 10 Pro (all set to x64).
I wi

[2017-07-12 15:59] bw4sz commented on #78
Awesome. Just to complete thread. Solved! The trick was that C:\Users\Ben\Documents\opencv\build\bin\Release was not in my path.

![image](https://user-images.githubusercontent.com/1208492/28127118-648dfc04-66e0-11e7-8ff3-907773d41d5d.png)

I really hope this helps future windows users. It took me 4 days. Thanks for your help. Very excited to test new algorithms.

[2017-07-12 15:59] #78 closed

[2017-07-12 21:51] bw4sz commented on #72
I can confirm I am also noticing a memory leak. Testing with SubSENSE.

[2017-07-13 13:33] andrewssobral commented on #78
Hi @bw4sz ,

I added all instructions to build the python support of bgslibrary for Windows users.
Please, see the details here:
https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Python
Feel free to validate and check if it works well for you.
In my case, it work fine for Python 2.7, Boost 1.64, VS 2013 (for OpenCV 2) and VS 2015 (for OpenCV 3).

Best

[2017-07-13 13:35] #71 closed

[2017-07-13 13:55] andrewssobral commented on #78
Hi @bw4sz again,

Can you test this new release on your machine?
https://github.com/andrewssobral/bgslibrary/releases/tag/bgslib_py27_ocv3_win64

Thank you

[2017-07-15 13:42] AyubOpen opened #80 "query not an issue with Java wrapper"
Could you please provide sample code in java to use bgslibrary in open cv to count cars ?

[2017-07-17 12:34] andrewssobral commented on #63
Hi @mchtech ,
I just updated the current release of bgslibrary2_console_opencv320_x64 fixing this issue.
Thanks

[2017-07-17 12:34] #63 closed

[2017-07-17 21:56] bw4sz commented on #72
I am still investigating this, I actually think its in the opencv passing, not the bgslibrary, will confirm.

[2017-07-18 21:31] bw4sz commented on #72
I've looked this a couple different ways, I think it is BGSLibrary. It appears that it is the .apply method for the background subtractor classes. I can confirm it happens with both SubSense and LOBSTER. Memory grows as the loop continues, not releasing previous frames? Compared to cv2.createBackgroundSubtractorMOG2, the .apply method in libbgs.SuBSENSE() uses 4x memory very quickly and continues

[2017-07-20 03:24] AlvarHHM commented on #70
@Romukas Could you elaborate it?
Ive encountered the same error

[2017-07-20 09:37] andrewssobral commented on #70
Hi @AlvarHHM , the bgslibrary need a config folder to store the configuration files. After compiling the python wrapper, before running Demo.py, you need to create a config folder in the working directory.

[2017-07-20 09:37] #70 closed

[2017-07-25 23:12] JLiss13 commented on #36
I had a very similar issue (I had an existing config folder) and it was solved when I deleted the XML I saved my calibration output information to and re-ran the program.

[2017-07-26 04:24] fuxSocial commented on #75
Hi @andrewssobral ,
I already fix it. Thank you.

[2017-07-26 08:04] andrewssobral commented on #75
Thank you @fuxSocial

[2017-07-26 08:04] #75 closed

[2017-08-09 09:46] ashish1405 opened #81 "any config parameters"
Hello Andrew,

First of all very nice work done. One question is, are there any parameters to configure when using own/other video? Because when we use our sample video, the subtraction is done fine, but the green outline like in dataset/video.avi is not displayed. BTW our sample video is zoomed in, so the vehicles are displayed very big in frame.

[2017-08-14 05:40] zhixuanli commented on #69
Please refer to :https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Python#building-bgslibrary-with-python-support-on-linux

the libbgs.so is right in the build folder

[2017-08-14 05:51] zhixuanli commented on #26
I'm working on Ubuntu14.04, Opencv 3.2.0.
After the instruction of

I have encountered the same question of libbgs.so
As you said above, I have done these:
`sudo cp -r package_bgs/ /usr/local/include/
sudo cp libbgs.so /usr/local/lib
`

But the time I try to `python Demo.py
`

The problem's still there:

  File "Demo.py", line 3, in <module>
    import libbgs
ImportError: No module named libbgs

C

[2017-08-16 06:54] mttucl opened #82 "VS issue with compiling wrapper for Python 3.6"
When I try to compile bgslibrary.sln with Visual Studio v14.0 I get 3 errors:

[code]

I had a problem with cmake finding Boost lib file, and fixed it in CMakeLists (line 85) by adding 3 to python
`	find_package(Boost REQUIRED COMPONENTS python3)`

I'm not sure if it should work with Python 3 (it worked in Linux?) but it is great work and hope you can extend it to win-py3.

My system
OS: Windows 1

[2017-08-16 16:09] andrewssobral commented on #81
Hi @ashish1405
In fact, the green outline in dataset/video.avi comes from original video (downloaded from Youtube), not from bgslibrary. If you are using QT or MFC GUI, the video frames are automatically resized for better viewer, but the saved foreground masks or background model uses the original video resolution. However, if you are using the Java GUI, there is a parameter to set the frame reso

[2017-08-22 11:07] Jessiiii commented on #76
Hello @andrewssobral, I got an error, desperately searching for help ! Thanks

Building with 'Microsoft Visual C++ 2012'.
cl /c /GR /W3 /EHs /nologo /MD -IS:\Matlabtrial\toolbox\vision\builtins\src\ocvcg\opencv\include -IS:\Matlabtrial\extern\include -IS:\Matlabtrial\toolbox\distcomp\gpu\extern\include -I"../package_bgs"  -I"S:\Matlabtrial\extern\include" -I"S:\Matlabtrial\simulink\include"  /DTAR

[2017-08-22 11:21] Jessiiii commented on #76
@andrewssobral
It may be useful to precise that I'm using Matlab Wrapper, version r2017a

[2017-08-22 11:44] andrewssobral commented on #76
Hi @Jessiiii , I will take a look at this...
Do you have tried this wrapper? https://github.com/andrewssobral/bgslibrary/releases/tag/bgslib_matlab_win64_2.0.0

[2017-08-22 11:46] andrewssobral commented on #82
Hi @mttucl ,
I've not tried yet with python 3.6, I will check this.

[2017-08-22 12:26] Jessiiii commented on #76
I tried it just now, and it didn't work..
I got an error always with mexOpenCV:

Error using mexOpenCV (line 131)
backgroundSubtractor_wrapper.cpp
s:\matlabtrial\bgslibrary\bgslibrary-master\bgslibrary2_matlab_opencv249_x64\mxarray.h(591) : warning C4267: 'argument'ÿ: conversion de 'size_t' en
'int', perte possible de donn‚es
..\package_bgs\IBGS.h(48) : error C2864: 'bgslibrary::algorithms::IBGS::

[2017-08-22 12:36] Jessiiii commented on #76
@andrewssobral see my last message please

[2017-08-26 19:40] andrewssobral commented on #82
Hi @mttucl ,
I fixed this issue in my last commit.
It works fine now for Linux and macOS Sierra on both Python versions 2.x and 3.x.
Some fixes were made in *conversion.cpp*, *conversion.h* and *np_opencv_converter.cpp* files. I think it should works now for Windows users.
Thanks

[2017-08-27 03:59] mttucl commented on #82
Hi Andrew,
Everything is working great now. I just had to rename `libboost_python3-vc140-mt-1_64.lib` to `libboost_python-vc140-mt-1_64.lib` and copy it to the build folder to fix VS LNK1104 error.

Thank you for taking the time to fix this.

[2017-08-27 03:59] #82 closed

[2017-08-27 15:43] andrewssobral commented on #82
Perfect! Thank you @mttucl for your feedback!

[2017-08-27 21:07] andrewssobral commented on #74
Hi @burnzzz ,

Sorry for my long feedback to you.
I successfully built the bgslibrary QT GUI on my macOS Sierra.
I used OpenCV 3.3.0 and Qt 5.9.1.
I have not tested yet on Ubuntu 16.04, but I will try it after.
Do you have some news in your side?

Please, see:
[code]

...and let's build (I suppressed the warnings):
[code]

[2017-08-27 22:31] andrewssobral commented on #76
Hi @Jessiiii ,

I think the problem is that you are trying to compile it without some prerequisites.

If you are on Windows (or Linux / macOS), and you want to build MATLAB wrapper from source (please ignore https://github.com/andrewssobral/bgslibrary/releases/tag/bgslib_matlab_win64_2.0.0), and make the following steps:

* Clone bgslibrary repository ```git clone https://github.com/andrewssobral/

[2017-08-28 07:54] Jessiiii commented on #76
Hello @andrewssobral Thank you so much for your help but it still doesn't work. I got the same error as that of 6 days ago.

However I tried an exemple, function _**matchTemplateOCV.cpp**_ . It compiled successfully and I can run this function with MATLAB. (So it means the OpenCV Toolbox Interface does work well right?)

[2017-08-29 04:24] mttucl commented on #72
I also noticed the memory leak and I don't think it is related to specific models. The input frame is not released and the memory grows by frame sizes.

[2017-09-02 10:37] ardashir66 opened #83 "error: LNK2019"
i build my your program QT_GUI on 64x compiler 14 and opencv 3.3.0 and qt creator 4.3.1 64bit, but i have error below

`mainwindow.obj:-1: error: LNK2019: unresolved external symbol "public: __cdecl bgslibrary::algorithms::CodeBook::CodeBook(void)" (??0CodeBook@algorithms@bgslibrary@@QEAA@XZ) referenced in function "class bgslibrary::algorithms::IBGS * __cdecl bgslibrary::createInstance<class bgsl

[2017-09-03 11:03] bestzxp opened #84 "[ubuntu]Unable to find the Boost header files."
I'm trying to do cmake in ubuntu with python3.4, but it can just find python2.7 and cannot find requested boost library. And what is boost libraries?

CMake Error at /usr/share/cmake-2.8/Modules/FindBoost.cmake:1131 (message):
  Unable to find the requested Boost libraries.

  Unable to find the Boost header files.  Please set BOOST_ROOT to the root
  directory containing Boost or BOOST_INCLUDEDIR

[2017-09-16 12:57] daicoolb opened #85 "how to modify the source code in package_bgs so that python Demo.py can execute the new algorithm?"
I want to modify the parameter in the package_bgs file.
so that I can use the Demo.py to execute the new algorithm .
Can anybody tell me how to make it?

[2017-09-16 22:26] BaeSeulki commented on #84
you need to install boost and boost-python.
try `brew install boost`,`brew install boost-python`, if you use homebrew. Or other ways like this.

[2017-09-17 17:53] andrewssobral commented on #84
Hi @bestzxp , you are probably using the default python from ubuntu.
To install Boost library, you need to do: ```sudo apt-get install libboost-all-dev```
However, if you want to use a different python version, you need to specify the Python path in cmake, and compile the Boost library from source. If you are using Anaconda Python, you can install Boost by ```conda install boost```.

[2017-09-20 00:52] yuanlixian opened #86 "Is it able to run on CLion?"
I'm trying to run the on CLion, and the OS is ubuntu 14.04.
But an error occurs:
CMake Warning at /home/cv/OpenCV/cmake/OpenCVConfig.cmake:166 (message):
  Found OpenCV Windows Pack but it has no binaries compatible with your
  configuration.

  You should manually point CMake variable OpenCV_DIR to your build of OpenCV
  library.
Call Stack (most recent call first):
  CMakeLists.txt:66 (find_pack

[2017-09-21 02:12] eadown92 opened #87 "Question about 'TwoPoints' method"
Dear all,

I note a new method 'TwoPoints' is added into the updated library. But I can not find any information about it.  Does anyone know that the 'TwoPoints method' comes from which paper?  In addition, which type does it belong accounting on "List of available algorithms"?

List of available algorithms
https://github.com/andrewssobral/bgslibrary/wiki/List-of-available-algorithms

[2017-09-21 12:53] llandiit opened #88 "Compilation error"
Hi
we have downloaded latest bgslibrary from git, We have correctly installed OPENCV 3.3.0. We are using C++ 4.4.7 GNU on CentOS. We have run cmake and then after running make we get the following error:

from /usr/bgslibrary/package_bgs/CodeBook.cpp:17:
/usr/bgslibrary/package_bgs/IBGS.h:48: error: ISO C++ forbids initialization of member ‘firstTime’
/usr/bgslibrary/package_bgs/IBGS.h:48: error:

[2017-09-27 00:16] vaghelan opened #89 "Can we use this library for commercial use ?"

[2017-09-27 17:50] yuanlixian commented on #86
I got another error trying to build this code on Clion

Scanning dependencies of target BgSubtraction
[ 50%] Building CXX object CMakeFiles/BgSubtraction.dir/main.cpp.o
[100%] Linking CXX executable BgSubtraction
CMakeFiles/BgSubtraction.dir/main.cpp.o: In function `main':
/home/cv/CLionProjects/BgSubtraction/main.cpp:40: undefined reference to `bgslibrary::algorithms::SuBSENSE::SuBSENSE()'
collec

[2017-10-01 13:44] dudenas opened #90 "OpenCv Error"
I read that i need to have a config file in the directory where I run the bgslibrary_gui, but it did not help.

[2017-10-10 14:41] bbernhard commented on #83
Had the same error. Change the following to fix it:

[code]

[2017-10-17 09:49] ansiqu opened #91 "error in Ubuntu"
[code]

错误如下
[code]
so I didn't understand what it mean,who can point me?

[2017-10-21 12:47] ardashir66 opened #92 "how processing just part of image(ROI) and change PAWCS learning BG rate?"
hello,
thank you for your nice library in advance and i want ask you two question:

1- how processing just part of image(ROI) in bgs methods ? when i using ROI rectangle, error happen in   CV_Assert(oInitImg.isContinuous());

2- how change PAWCS learning BG rate? i want learning background in each 1 hour once. how i do that?

[2017-11-04 08:41] Fankbai commented on #91
将opencv的路径设置正确该问题即可解决。

[2017-11-04 08:50] Fankbai opened #93 "Building BGSLibrary with Python support using mingw on windows"
HI, @andrewssobral
I am building BGSLibrary with Python support using MingW on windows 10 system.  I have run cmake：
[code]

[code]
and then after running make I get the following error:

[code]
how could be display ## /MD folder ##?

[2017-11-06 07:18] xurong1981 opened #94 "About Compiling BGSLibrary by Visual Studio Express 2015"
I wonder whether it is possible to compile BGSLibrary by Visual Studio Express 2015 in Windows ?

[2017-11-08 09:55] LunaHisi opened #95 "About The SigemaDeltaBGS have some question.Please!"
I run it success in the vs2013+opencv3.1,but the image mask just appear 1/3 of the complete image at the  initial frame. It's just like 2/3 of the complete had be abandoned at the initial frame.Maybe the SigemaDelatBGS class had miss  some important parameter.I ask for help!If you have meet the same problem,we can discuss together too.Thanks!

[2017-11-12 22:15] andrewssobral commented on #94
Hi @xurong1981 ,
Yes, you can find a tutorial here:
https://github.com/andrewssobral/bgslibrary/wiki/Compiling-BGSLibrary-with-OpenCV-3.x-and-Visual-Studio-2015-from-CMAKE
Hope this help you,
Best regards

[2017-11-12 22:15] #94 closed

[2017-11-12 22:26] andrewssobral commented on #89
Hi @vaghelan , the short answer is yes, but with some constraints, please see:
https://github.com/andrewssobral/bgslibrary/wiki/List-of-available-algorithms

[2017-11-12 22:40] andrewssobral commented on #88
Hi @llandiit , I am sorry for my late feedback.
I think there is something wrong while compiling the source code with C++11 support.
Maybe the following post could help you:
https://stackoverflow.com/questions/10033373/c-error-nullptr-was-not-declared-in-this-scope-in-eclipse-ide

[2017-11-12 22:44] andrewssobral commented on #90
Hi @dudenas , I am sorry for my late response.
Yes, you should have a `config` folder in the same path where your `bgslibrary_gui` binary is located. Try to put your generated binary from `/bgslibrary/gui_qt/build/` to `/bgslibrary/`.

[2017-11-12 23:02] andrewssobral commented on #92
Hi @ardashir66 ,
Thank you for your interest into the bgslibrary, and I am sorry for my delayed feedback to you.
Please, see the answers below:

You could do this in several ways. If you are using the the standard bgslibrary binary generated into the `bgslibrary/build/` folder, you can define the ROI by changing the `bgslibrary/config/VideoCapture.xml` file. More specifically, the following parame

[2017-11-12 23:09] andrewssobral commented on #93
Hi @Fankbai , I am sorry for my delayed feedback.
I never tried to compile bgslibrary with MingW on Windows, but I think it should works.
I think the `error: /MD: No such file or directory` is related to this following code inside [CMakeLists.txt](https://github.com/andrewssobral/bgslibrary/blob/master/CMakeLists.txt
) file:
[code]
In fact, the parameter /MD (Run Time Lib) is defined in the Micros

[2017-11-12 23:12] andrewssobral commented on #95
Hi @LunaHisi , I am sorry for my delayed feedback.
Maybe this error is related because you are using grayscale images instead of color images. Can you confirm that?
Best regards

[2017-11-12 23:14] andrewssobral commented on #86
Hi @yuanlixian , I am sorry for my long delayed feedback to you.
I never tried to compile bgslibrary with CLion, but I expected that it should works in a some way.
I can try to do it in my side. Have you some news on that? or you still blocked with the same error?
Best regards

[2017-11-13 01:12] xurong1981 commented on #94
Thank you. Let me make a try.

[2017-11-13 06:59] ardashir66 commented on #92
thank you so much for your answer and take your time
best regards

[2017-11-13 06:59] #92 closed

[2017-11-16 17:30] headdab commented on #84
I'm trying to build this on Ubuntu 17.04 for python3 and am having similar problems.
I downloaded boost-1.65.1 and built it using:

./bootstrap.sh --prefix=boost_output --with-python=python3 --with-icu=
./b2 install -j 8

then I tried to build bgslibrary with various options, e.g.

cmake -D BGS_PYTHON_SUPPORT=ON -D BGS_PYTHON_VERSION=3 -D BOOST_INCLUDEDIR=/home/estes/git/opencv/boost_1_65_1/boost_

[2017-11-27 08:23] devxpy opened #96 "Could not find the following Boost libraries: boost_python3"
libboost is installed here by default
`/usr/lib/x86_64-linux-gnu/libboost_python-py3x.so`

But cmake tries to find `libboost_python-py3.so` and fails.

This can be solved by making a symlink manually like so

`cd /usr/lib/x86_64-linux-gnu/`
`sudo ln -s libboost_python-py3x.so libboost_python3.so`

_(replace x with your python version)_

So please Link to the correct Boost.Python variant if the sys

[2017-11-29 07:31] Kylin-Wei commented on #83
Add the ./bgslibrary-master/package_bgs/CodeBook.cpp to the project source files, the file called CodeBook.cpp was ignored.

[2017-11-30 07:43] LunaHisi commented on #95
Thanks for you feedback.This error had been solved.Just as what you said.I changed the sigled channel image.Thank you for the amount。

At 2017-11-13 07:12:15, "Andrews Sobral" <notifications@github.com> wrote:

Hi @LunaHisi , I am sorry for my delayed feedback.
Maybe this error is related because you are using grayscale images instead of color images. Can you confirm that?
Best regards

—
You are

[2017-11-30 21:05] headdab commented on #72
Same here. This is unusable in its current form - I quickly run out of memory (16GB) and start swapping.
If it helps, I'm running boost from 11/19 (commit 81dcc8f) and the most recet bgs library code from 8/27 (commit e246604).

If it makes testing easier, I've attached my test script.  Change the input file name in line 12 and run -> no memory leak.  Uncomment line 30 *bgs.apply) and run -> memor

[2017-12-25 06:23] icebear-mint opened #98 "confused error:Library not loaded"
finished download and cmake with python2 done,after make successfulliy I run the instruction python Demo.py
and then error occur:
StaceydeMacBook-Air:bgslibrary Stacey_W$ python Demo.py
Traceback (most recent call last):
  File "Demo.py", line 3, in <module>
    import libbgs
ImportError: dlopen(/usr/local/bgslibrary/build/libbgs.so, 2): Library not loaded: @rpath/libopencv_stitching.3.3.dylib
  R

[2017-12-30 07:41] icebear-mint commented on #98
finally I found the mistakes about my opencv.
There some trouble in my opencv linking.

[2017-12-30 07:43] icebear-mint commented on #98
Someone meet the same questions as me can try to reinstall your opencv, and it may help

[2018-01-11 17:41] yellgreniff opened #99 "gui_qt application cannot run"
For building qt from scratch, I used the wiki page. However, the first step was `Click on 'Qt 5.6 64-bit for Desktop (MSVC 2015)'`. I downloaded Qt but couldn't find the file in the first step. So then I downloaded Qt 5.6. Then I just continued onto step 2. When I launched cmake in step 4. There was an error saying Qt5Widgets package cannot be found. I solved it by setting Qt5Widget_DIR to the Qt5

[2018-01-11 20:24] andrewssobral commented on #99
Hi @yellgreniff !
Did you tried to run the `bgslibrary_gui.exe` in the root folder of the bgslibrary project (where the `config` folder exists)? Thanks

[2018-01-11 20:26] andrewssobral commented on #98
Hi @icebear-mint , I am sorry for my delayed feedback. I'd like to thank you for reporting this issue. This may help someone with the same issue. Best

[2018-01-11 20:26] #98 closed

[2018-01-11 20:28] andrewssobral commented on #96
Hi @devxpy , thank you for these instructions! Best regards

[2018-01-12 20:11] yellgreniff commented on #99
Oh i found that the error was using 32 bit dll file on 64bit program. Also I thought i had to build it from scratch. Sorry about that.

[2018-01-12 20:11] #99 closed

[2018-01-15 21:08] fabvio opened #100 "LITIV OpenCL implementation"
I found in LITIV source code:
[code]
Could you please provide such implementation? It would really help me a lot.
Thanks in advance

[2018-01-17 15:10] MyraBaba opened #101 "Cpu usage"
Hi,

First of all thanks for your sharing and efforts.

I noticed that qt-gui program using only 1 core. Can we use all available cores to speed up the process ?

PS: What will be the you suggestion for windy and rainy weather background subtraction?

Best

[2018-01-17 16:52] MyraBaba opened #102 "QT Creator Amber.o multiply definition."
Hi,

When I try to compile through Qt Creator I have below Error:

`amber.o: In function `bgslibrary::algorithms::Amber::saveConfig()':
Amber.cpp:(.text+0x0): multiple definition of `bgslibrary::algorithms::Amber::saveConfig()'
Amber.o:Amber.cpp:(.text+0x0): first defined here
amber.o: In function `bgslibrary::algorithms::Amber::loadConfig()':
Amber.cpp:(.text+0x70): multiple definition of `bgslib

[2018-01-23 09:35] icebear-mint opened #103 "install bgslib with cmake and python3, but failed"
i want to install bgslib with make and python3
but when i input the code, i found the output
-- Boost version: 1.66.0
-- Found the following Boost libraries:
--   python3
-- Found PythonInterp: /usr/bin/python (found version "2.7.10")
-- Found PythonLibs: /Library/Frameworks/Python.framework/Versions/3.5/lib/libpython3.5.dylib (found version "2.7.10")
-- Boost library status:
--     version: 10660

[2018-01-23 11:51] lgov commented on #103
You'll probably need to apply patches similar to these two:

https://github.com/lgov/bgslibrary/commit/e9b56f2ad611432ff78d228e1c87b9bd93d43896
https://github.com/lgov/bgslibrary/commit/c5db7493dc03c3cb5a81d09b5e19fb693aa2a543

... which I had to make to get bgslibrary building on Ubuntu 16.05 with Python 3.5.

You'll need to adapt the paths to your system though. I see you are working on Mac OS X

[2018-01-27 09:38] Baozhang-Ren opened #104 "Python crashes when importing libbgs"
Python crashes every time I import libbgs on mac.

Don't know what is the problem.

Please help!

`An error ocurred while starting the kernel
PYTHON TYPE CONVERTERS exported
Failed to import the site module
Traceback (most recent call last):
File "/Users/baozhang/anaconda3/lib/python3.6/site.py", line 541, in
main()
File "/Users/baozhang/anaconda3/lib/python3.6/site.py", line 522, in main
known_pa

[2018-01-27 21:28] lgov commented on #72
This change fixes the memory leak in the python wrapper:

https://github.com/lgov/bgslibrary/commit/76693035e5db2f26f5c3f264f5811300b0c8c168

I have tested it on hours of video and it certainly solves this particular problem, but I don't know boost::python well know to be sure that it's complete.

[2018-01-27 23:57] bw4sz commented on #72
Thanks!

On Sat, Jan 27, 2018 at 1:29 PM, Lieven Govaerts <notifications@github.com>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
Oregon State University
http://benweinstein.weebly.com/

[2018-01-28 01:13] andrewssobral commented on #104
Hi @Baozhang-Ren , thank you for reporting this issue. I am having the same problem, I am looking at this...

[2018-01-28 06:27] mttucl commented on #72
Can confirm. No more memory leak. Tested with openCV3 and Python3. Thank you!

[2018-01-28 12:17] andrewssobral commented on #72
Thank you very much @lgov ! I applied a patch from your branch to fix the memory leak.
I let this issue open to check for OpenCV 2.

[2018-01-28 12:35] andrewssobral commented on #101
Thank you @MyraBaba,
Yes, it's possible, but it also depends of the algorithm's implementation.
For windy and rainy weather situations you can try more recent bgs algorithms such as SubSENSE.
Best

[2018-01-28 12:42] andrewssobral commented on #100
Hi @fabvio !
Unfortunately, the BackgroundSubtractorLBSP included in the bgslibrary is not optimized for OpenCL.

[2018-01-28 12:43] andrewssobral commented on #102
Hi @MyraBaba ! thank you for reporting this issue. I will check this.

[2018-01-28 12:44] #95 closed

[2018-01-28 22:33] andrewssobral commented on #104
Now I'm getting this error while building bgslibrary with python support:
[code]

[2018-01-28 22:40] Baozhang-Ren commented on #104
I built it with anaconda python3 and the newest boost and got the error I posted.
I reinstalled boost cause with an old version it couldn't find the lib of boost even if I had specified the path to it.
Can it be the problem of boost?

[2018-01-28 22:55] andrewssobral commented on #104
I don't know yet...
I tried this:
[code]
and this:
[code]
Moreover,  I've re-compiled boost with:
[code]
and I'm still getting: `ld: symbol(s) not found for architecture x86_64`

[2018-01-28 22:59] andrewssobral commented on #104
By the way, this simple example works well:
[code]
Compiling with:
[code]
Then:
[code]

[2018-01-28 23:02] andrewssobral commented on #104
I think the best is to switch from **Boost.Python** to [**pybind11**](https://github.com/pybind/pybind11). However, I will take a while to do this...every help is welcome

[2018-01-28 23:03] Baozhang-Ren commented on #104
Thanks! I will try that as well!

[2018-01-29 18:13] andrewssobral commented on #104
Hi @Baozhang-Ren ,
I think the problem is the cmake version, look:
[code]
https://stackoverflow.com/questions/42123509/cmake-finds-boost-but-the-imported-targets-not-available-for-boost-version

I will check this...

[2018-01-29 19:06] andrewssobral commented on #104
On **Ubuntu 17.10 + Anaconda 4.4.8 + Python 3.6.3 + Boost 1.65.1**
[code]
it works well:
[code]
But on Mac not yet. Maybe I need to update the CMakeFile following this:
[code]
found on: https://github.com/Valloric/ycmd/blob/master/cpp/CMakeLists.txt

[2018-02-02 06:41] Somal commented on #96
Works too

[2018-02-02 16:55] yellgreniff opened #105 "getting different results from qt_gui and demo"
So I want to compare the performance of different algorithms. I have run each algorithm on a dataset using the qt gui. DPMean seemed really good. However, when I modified demo2.cpp to read in a sequence of images, DPMean produced different results for the same dataset. Here is my code, I'm not sure what is different from the gui to my code.

[https://github.com/yellgreniff/bgs/blob/master/demo2.cp

[2018-02-09 07:22] JohnnySorry opened #106 "Some problem on the Installtion of library LNK2001"
I download the zip from the web, my environment is VS2017 + OpenCV 2.143. but if I want to build the solution, the compiler will tell me the error in the release mode.
Main.obj : error LNK2001: unresolved external symbol "public: void __thiscall bgslibrary::VideoAnalysis::start(void)" (?start@VideoAnalysis@bgslibrary@@QAEXXZ)
1>Main.obj : error LNK2001: unresolved external symbol "public: bool __t

[2018-02-09 19:10] jdzon23 opened #107 "main.cpp:45: undefined reference to `bgslibrary::algorithms::FrameDifference::FrameDifference()'"
The error when i compile is "undefined reference" .I  clone the library and copy the package package_analysis && package_bgs into my project and make a config folder under my project folder im working with Netbeans IDE .

[2018-02-15 01:13] headdab opened #110 "Is there an easier way to set parameters?"
I realize that I  can change the corresponding xml file in the config directory to change parameters for each algorithm, but is this the easiest way?

Its awkward to script things with this strategy.  I have to edit the file between runs.

Are there other options and/or ways to pass in parameters?

Thanks!

[2018-02-25 14:06] andrewssobral commented on #110
Hello @headdab ,
Unfortunately not, but you can change manually the parameters of some algorithms before compilation, or bypassing the `loadConfig()` and `saveConfig()` functions.

[2018-02-25 14:08] andrewssobral commented on #107
Hi @jdzon23 , this error says that the FrameDifference.cpp file (and probably others *.c or *.cpp files) is not included in your compilation

[2018-02-25 15:11] andrewssobral commented on #106
Hi @JohnnySorry , this is a linking error, it seems that VideoAnalysis.cpp file are not included in your compilation. I suggest you to use CMake to build a VS2017 + OpenCV 2 project, you can follow this tutorial: https://github.com/andrewssobral/bgslibrary/wiki/Compiling-BGSLibrary-with-OpenCV-2.4.x-and-Visual-Studio-2013-from-CMAKE (just change the parameters from VS2013 to VS2017).

UPDATE: i ch

[2018-02-25 21:06] smajida opened #112 "Graphical User Interface failed to be compiled on Ubuntu16.04 with OpenCV3.4.1"
Hi,
my platform:
ubuntu 16.04
opencv 3.4.1
qt5

Bgslibrary itself was compiled with no problem.

[code]

error message:
[code]

[2018-02-25 22:23] smajida opened #113 "contours around moving objects"
Hi,

Why input video has already contour around vehicles? how to create such contour on our own videos?

when an object moves, background substraction methods finds it and we can see its binary mask in window. How to put contours around objects which are moving? I want to detect moving objects and track them and show the contour in the window plus a line which is from the point from which object d

[2018-02-27 10:33] fasni opened #114 "Python: ImportError: No module named libbgs"
Hello,

I have compiled the library using:

git clone https://github.com/andrewssobral/bgslibrary.git
cd build
cmake -D BGS_PYTHON_SUPPORT=ON ..
make

no errors in making, added to the python path:

`>>> import sys

['',
 '/home/user/bgslibrary/build/libbgs.so',
 '/home/user/bgslibrary',
 '/usr/lib/python27.zip',
 '/usr/lib64/python2.7',
 '/usr/lib64/python2.7/plat-linux2',
 '/usr/lib64/python2.7/

[2018-02-28 16:15] #105 closed

[2018-03-06 14:24] Dragon-Jumping opened #115 "Some problem with the TwoPoint algorithm"
Would you tell me some articles about the TwoPoint algorithm?
I found nothing from the "List of available algorithms" about this algorithm.
Thankyou!

[2018-03-11 10:24] smajida commented on #74
@andrewssobral  I got the same error with OpenCV3.4.1, Ubuntu16.04 and Qt5.5. Now I am updating to Qt5.10.1. I will report on that after trying with the updated Qt version.

[2018-03-11 19:04] smajida commented on #112
I was using Qt 5.5. Updating to 5.10.1 resolved the problem.

[2018-03-11 19:04] #112 closed

[2018-03-11 19:09] smajida opened #116 "Aborted (core dumped) in GUI-qt after pressing on start"
My system is;

ubuntu 16.04
opencv 3.4.1
qt 5.10.1

[code]

[2018-03-20 10:23] Achal104 commented on #24
Hi,
I am using windows 10 and have Anaconda 4.2 and python 2.7.12 with opencv version 2.4.13
I am trying to build bsglibrary, but every time i try doing it it gives the following:
Collecting BGSLibrary
  Using cached bgslibrary-2.0.0.tar.gz
Requirement already satisfied: numpy in c:\users\satish chandra\anaconda2\lib\site-packages (from BGSLibrary)
Building wheels for collected packages: BGSLibrar

[2018-03-20 10:28] Achal104 opened #117 "Unable to find vcvarsall.bat"
Hi,
I am using windows 10 and have Anaconda 4.2 and python 2.7.12 with opencv version 2.4.13
I am trying to build bsglibrary, but every time i try doing it it gives the following:
Collecting BGSLibrary
Using cached bgslibrary-2.0.0.tar.gz
Requirement already satisfied: numpy in c:\users\satish chandra\anaconda2\lib\site-packages (from BGSLibrary)
Building wheels for collected packages: BGSLibrary

[2018-03-21 00:10] Baozhang-Ren commented on #104
Thanks! I think I will do the project on Ubuntu instead.

[2018-03-21 00:10] #104 closed

[2018-03-22 09:54] FahadRazaSJTU commented on #78
Hi @andrewssobral

I have been trying to install BGS library for more than 6 hours and I could not succeed because of different reasons. I need it for my Python project. It would be much better if you may make Conda package which are very easy to install on Anaconda IDE.

Thanks

[2018-03-23 01:57] bw4sz commented on #78
I just saw this, months later, sorry, I'm on Mac now. I changed because
these things kept happening! I appreciate the effort in making this
available to a wide array of users.

On Thu, Jul 13, 2017 at 6:55 AM, Andrews Sobral <notifications@github.com>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2018-04-05 09:08] #81 closed

[2018-04-14 18:45] jzyztzn commented on #114
I have the same problem, have you solved it? @fasni

[2018-04-14 18:47] jzyztzn commented on #69
I have the same problem, have you solved it? @okoky-krypto @zhixuanli And I can't find the ` libbgs.dylib `

[2018-04-14 18:55] jzyztzn commented on #72
Thank you very much @lgov @mttucl @andrewssobral ！I had successfully recompiled this code and there is no build error, but don't regenerate the `libbgs.so` .

[2018-04-16 08:59] knaffe commented on #104
I have the same problem at Ubuntu 14.04. Actually I worked when I installed just now. But I reboot my system and  import libbgs, it rises "PYTHON TYPE CONVERTERS exported".
I update my Cmake into 3.10, use "conda install boost" to install boost.(Boost version: 1.54.0)
But it has a warning message->"WARNING: Target "libbgs" requests linking to directory "/home/chilam/anaconda3/envs/cv/lib".  Target

[2018-04-20 09:11] knaffe opened #118 "Where could I find the bgslibrary API of Python"
I have checked the Dome.py, which shows that it only has 2 functions, bgs.apply(frame),  and bgs.getBackgroundModel().
Is it all API of this library? How could I change the parameters of some algorithms if I want?

[2018-04-22 02:58] luvhalvorson opened #119 "Most links are broken on wiki "List of available algorithms""
https://github.com/andrewssobral/bgslibrary/wiki/List-of-available-algorithms

[2018-04-26 06:28] devxpy commented on #96
@gaoyangyiqiao , i dont have a mac, but it [looks like](https://ryanclouser.com/2015/07/16/Mac-OSX-Build-Boost-Python-with-Python3-Support/) you can install boost using brew.

Then i think you can look for the lib in brew's dir.

[This](https://apple.stackexchange.com/questions/145437/where-can-i-find-the-installed-package-path-via-brew) might help?

[2018-04-26 07:15] gaoyangyiqiao commented on #96
@devxpy Thanks a lot! By `brew install boost-python3` and then
[code]
I solved this problem. while I met another problem now,
[code]
Bad luck. Thanks anyway.

[2018-04-26 12:56] Eracro commented on #69
Hey, I have the same problem as you @jzyztzn I cannot find the ``libbgs.dylib``file, did you find any solution ?

[2018-04-26 14:07] devxpy commented on #96
You should find the file in brew's folder, not the system local lib?

[2018-04-26 21:46] andrewssobral commented on #69
Hi @jzyztzn @Eracro ,

I am sorry for my delayed feedback, you can follow the instructions here (for Mac users):
https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Python#building-bgslibrary-with-python-support-on-mac-os-x

It works well for Python 2. For Python 3 sometimes it works, sometimes it doesn't work. I need to take a time to check it.

If you have Python 3 from Anaconda, you can c

[2018-04-26 22:09] andrewssobral commented on #119
Thank you @luvhalvorson for reporting this issue, I will check it

[2018-04-27 14:59] andrewssobral commented on #118
Hi @knaffe ,
Yes, currently the API for Python contains only these two methods.
Currently, if we need to change the parameters of the algorithms, we need to open the XML files stored in the config folder.

[2018-04-27 15:01] andrewssobral commented on #117
Hi @Achal104 , i think your error is related to the following post:
https://stackoverflow.com/questions/2817869/error-unable-to-find-vcvarsall-bat
please, let me know if it works for you,
best

[2018-04-29 20:08] kaisark opened #120 "libbgs.KNN() #(if opencv 3.x) NOT WORKING WHITE SCREEN"
I built the library with Python3 and everything seems to be working, but I noticed that "bgs = libbgs.KNN()" (if opencv 3.x) is not working. The output of KNN is a plain white screen. Any ideas?

System:
ubuntu 16
opencv 3.3
python3

[2018-04-29 20:14] kaisark commented on #114
@fasni You need to point to the build directory where you made the bgslibrary software:

export PYTHONPATH="${PYTHONPATH}:$HOME/myapps/bgslibrary/build"

[2018-04-30 00:06] kaisark opened #121 "QT Gui - QT 5.5 compile error"
I ran into a QT Gui build error in texteditor.cpp using Qt5 version 5.5.1. Any ideas???

System:
Ubuntu 16
OpenCV 3.3
QT 5.5.1

[ 97%] Building CXX object CMakeFiles/bgslibrary_gui.dir/texteditor.cpp.o
/home/nvidia/cviz/bgslibrary/gui_qt/texteditor.cpp: In constructor 'TextEditor::TextEditor()':
/home/nvidia/cviz/bgslibrary/gui_qt/texteditor.cpp:36:3: error: 'setFallbackSessionManagementEnabled' i

[2018-04-30 00:11] kaisark commented on #74
I ran into same issue:

Ubuntu 16
QT 5.5
OpenCV 3.3

[2018-05-01 10:12] akosiorek commented on #65
I'm experiencing the same issue. Is there any progress on this?

[2018-05-01 10:32] Achal104 commented on #117
Well i dropped that idea of installing the BGSLibrary that way. Instead I tried using Cmake and Visual studio 2015 to build BGSLibrary. Cmake version I am using is 3.11.0.
I tried installing opencv 3.3.1 via CMake first. I used the following tutorial:
http://www.learnopencv.com/install-opencv3-on-windows/

 Cmake was able to configure and generate successfully while following that tutorial.
But as

[2018-05-03 00:48] anqier0468 opened #122 "Segmentation fault (core dumped) in Graphical User Interface of QT"
username@user:~/bgslibrary/gui_qt/build$ ./bgslibrary_gui
Segmentation fault (core dumped)
so  what should I do?

[2018-05-14 08:01] sjaiswal25 opened #123 "compatibility with grayscale image(single channel)"
If I want to process on a grayscale image, it gives me the following error.Is the algorithm compatible only with a 3 channel image?
bgs = libbgs.LBFuzzyAdaptiveSOM()
error: (-215) src.channels() == dst.channels() in function cvCopy

[2018-05-14 23:39] #110 closed

[2018-06-05 08:19] zuenko commented on #114
Same problem. Sometimes it works, but most of the time I can't import module

[2018-06-07 12:57] zuenko opened #125 "libopencv_video.so.3.3: cannot open shared object file: No such file or directory"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: libopencv_video.so.3.3: cannot open shared object file: No such file or directory

[2018-06-07 14:38] zuenko commented on #114
import sys
sys.path.append('/home/denis/bgslibrary/build')

Pointing doesn't work fine for me, but this lane into your code help me to execute it anywhere.

[2018-06-18 19:59] jadarve commented on #96
I'm having a similar linking error using `boost-python3` installed using `brew`:

[code]

@devxpy, using `brew install boost-python3` installs the library at `/usr/local/Cellar/boost-python3/1.67.0` and creates a symbolic link at `/usr/local/lib`

[code]

I also created the symbolic link following @gaoyangyiqiao comments
[code]

[2018-06-19 16:53] jadarve commented on #96
I fixed this problem by properly finding the Python interpreter according to `BGS_PYTHON_VERSION` variable in CMakelists.txt. See PR #127 for more details.

[2018-06-24 19:54] #96 closed

[2018-06-24 21:51] andrewssobral commented on #125
it seems you need to put the compiled OpenCV libs (libopencv_***.so) in your python/system path.

[2018-07-09 21:19] headdab opened #128 "compilation errors when compiling against opencv 4"
If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Describe the bug**
On ubunut17.10, using  apt installed boost 1.62 libraries, bgs library fails to compile.

I made several changes to get it to compile, but don't know if they

[2018-07-09 21:49] headdab commented on #128
My fix to find boost_python doesn't wok.  It found the python 2.7 version.
I'm not sure ho to fix this.  To make things work locally, I changed the link in

  /usr/lib/x86_64-linux-gnu

to point to the python 3.6 version.

I haven't worked with cmake enough to easily figure out how to fix this.

On a related note, without changing all the CV_MAJOR_VERSION == 3 to >= 3, knn and mog2 are going to ha

[2018-07-11 08:55] #125 closed

[2018-07-12 04:27] sjaiswal25 opened #129 "saving a trained model"
Is there a way by which one can save a trained bgs model, so that it can be loaded automatically when its used the next time, without having to explicitly train again?

[2018-07-14 06:36] kafan1986 opened #130 "Need an example to integrate into android NDK library (via JNI)"
Can you show me, how can I integrate the project in one of my android ndk library? I am confused about creating a folder where you store the xml files. Do these config files keep on changing? If not, I can place a default config file and pass the location to the library through an API (method), if any exists.

[2018-07-19 09:23] cygi1989 opened #131 "ImportError undefined symbol"
I have followed all installation steps however when I import the library I got the following error:
Traceback (most recent call last):
  File "Demo.py", line 6, in <module>
    import libbgs
ImportError: /(...)/bgslibrary-master/build/libbgs.so: undefined symbol: _ZN2cv7putTextERNS_3MatERKNSt7__cxx1112basic_stringIcSt11char_traits
This is Ubuntu 16.04, Python 3.5.2

I have previously installed thi

[2018-07-23 07:24] alan-jqwang opened #132 "Is there a more detailed procedure to set "Wrapper: Python""
**1) The 1st step seems to build the boost Binaries From Source.**
And a useful link: https://www.boost.org/doc/libs/1_67_0/more/getting_started/windows.html#prepare-to-use-a-boost-library-binary

  However, can anyone who succeed this provide the Windows OS version, MS Virtual Studio version, Python version, etc. ?

**2) the 2nd step"Compiling BGSLibrary with Python 2.x support on Windows"
I got

[2018-07-23 09:26] anqier0468 opened #133 "why are some Algorithms without authors ?"
why are some Algorithms without authors  in the List of the algorithms available in BGSLibrary?

[2018-07-24 03:02] amjiuzi opened #134 "is there a R wrapper on the way?"
hi, boss
is there a R wrapper on the way?

[2018-07-25 13:52] SirSykon opened #135 "SAve output on Linux"
Hello!

I work with Ubuntu and I want to use bgslibrary in my paper. Until now I'm able to run bgslibrary with any video I want with any algorithm in library by modifying ./config/FrameProcessor.xml but I'm not able to save the method output video. ¿Is there any way to save the output frame per frame or as a video?

Thanks!

[2018-08-01 03:49] Wisgon commented on #131
@andrewssobral  The same problem

[2018-08-17 02:58] Wisgon opened #136 "How can I change background image in python wrap."
Hi, @andrewssobral . Thanks for the great job!
I use python to run the code, and it's cool,  but I wonder to know that when I want to change the background(such as when there is less and less light, I have to change the background), how can I do ?

[2018-08-19 15:03] andrewssobral commented on #134
Hi @amjiuzi , not yet, but I'm open for.
Everybody is invited to contribute,
Thanks

[2018-08-19 15:05] andrewssobral commented on #133
Hi @anqier0468 ,
Some algorithms are too simple and well known in the literature (someones too old), in this case we don't know/have a specific author...
Thanks

[2018-08-19 15:11] andrewssobral commented on #136
Hi @Wisgon ,
I'm not sure to understand your question, but why you want to change the background?
Do you want to manually update the background image?
Usually, for most bgs algorithms, the background image is updated automatically...as I understood, you want to fix the background image when it's created (e.g. stopping the update)?
Thanks

[2018-08-20 00:06] Wisgon commented on #136
Yes, I want to fix the background image, because the light of the environment is changing, when I use opencv's algorithms, I can manually update background image, so I want to know how to update background image, or it's updated automatically?

[2018-08-20 12:29] andrewssobral commented on #136
Yes, usually the background model is updated automatically, but for some algorithms, you can stop the update by setting the learning rate to zero, for example:
AdaptiveBackgroundLearning, DPWrenGA, KDE - parameter alpha
AdaptiveSelectiveBackgroundLearning - parameter alphaLearn
LBAdaptiveSOM, LBFuzzyAdaptiveSOM, LBFuzzyGaussian - parameter learningRate
...
which bgs method are you using?
Thanks

[2018-08-20 12:34] andrewssobral commented on #129
Hi @sjaiswal25 , sorry for my long feedback.
The only method that provide this feature is the MultiLayer algorithm.
It provides 2 parameters named `saveModel` and `preloadModel`, as you can check here:
https://github.com/andrewssobral/bgslibrary/blob/master/package_bgs/MultiLayer.h
https://github.com/andrewssobral/bgslibrary/blob/master/package_bgs/MultiLayer.cpp
However, I agree that it would be

[2018-08-20 12:35] andrewssobral commented on #122
Hi @anqier0468, sorry for my long feedback, you need to put the ` bgslibrary_gui` file in root dir `~/bgslibrary` like this: `~/bgslibrary/bgslibrary_gui` because it uses the config folder to load and save configuration files.

[2018-08-20 12:42] andrewssobral commented on #116
Hi @smajida , I am sorry for my very long feedback,
This error occurs when the config folder doesn't exist.
You need to put the `qt_gui` executable in the root folder of bgslib e.g. `./bgslibrary/bgslibrary_qtgui`

[2018-08-20 12:43] andrewssobral commented on #113
Hi @smajida, yes, the contours were present in the original video from another project.
If you want to create your own contours you need to find the contours from the output foreground mask and apply it to the input image.

[2018-08-20 13:43] andrewssobral commented on #116
Please see this recent video:

Build & Execute BGSLibrary QT GUI on MacOSX using CMake

<p align="center"><a href=https://youtu.be/vl0c-mXWQEo>https://youtu.be/vl0c-mXWQEo</a></p>
<p align="center">
<a href="https://youtu.be/vl0c-mXWQEo" target="_blank">
<img src="https://sites.google.com/site/andrewssobral/bgslib_qtgui_macosx.png?width=600" border="0" />
</a>
</p>

[2018-08-20 13:47] andrewssobral commented on #122
Please see this recent video:

Build & Execute BGSLibrary QT GUI on MacOSX using CMake

<p align="center"><a href=https://youtu.be/vl0c-mXWQEo>https://youtu.be/vl0c-mXWQEo</a></p>
<p align="center">
<a href="https://youtu.be/vl0c-mXWQEo" target="_blank">
<img src="https://sites.google.com/site/andrewssobral/bgslib_qtgui_macosx.png?width=600" border="0" />
</a>
</p>

[2018-08-26 21:01] andrewssobral commented on #128
Hi @headdab could you test with my last commit please? PR https://github.com/andrewssobral/bgslibrary/pull/137

I replaced Boost.Python with pybind11, so no more need Boost.

[2018-08-26 21:03] andrewssobral commented on #132
Hi @alan-jqwang ,
Thanks for opening this issue. Could you please test my last commit? I replaced Boost.Python with pybind11 (header-only library), so Boost is no more needed. You can find more details in my last PR https://github.com/andrewssobral/bgslibrary/pull/137

[2018-08-26 21:57] andrewssobral commented on #131
Hi @cygi1989 @Wisgon ,

Thanks for opening this issue. I replaced Boost.Python with pybind11 (header-only library), so Boost is no more needed. You can find more details in my last PR https://github.com/andrewssobral/bgslibrary/pull/137
Could you please test my last commit?

This PR has been successfully tested on:

Mac OS X with OpenCV 3.4.1 and Anaconda Python 2.7.15
Windows 10 with OpenCV 3.4.2

[2018-08-30 03:06] w4-jonghoon opened #138 "Cannot find `libbgs.dylib` on Mac OS X."
If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Describe the bug**
After following the instruction in the [Wrapper-Python page](https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Python) on Mac OS X.
I cannot find `lib

[2018-08-30 17:47] headdab commented on #128
Did you see my comments?
Not sure if you would, since the patch has already been merged.
Thanks.

On Sun, Aug 26, 2018 at 2:01 PM Andrews Sobral <notifications@github.com>
wrote:

[2018-08-31 08:33] w4-jonghoon commented on #138
In MacOS, `bgs.cpython-36m-darwin.so` file is created, and it is enough to import.
So, I recommend you to fix the wiki-page: [Wrapper: Python](https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Python)

[2018-08-31 08:33] #138 closed

[2018-08-31 08:58] ozgunpelvan opened #140 "Problem with pybind11"
Hello,
I have just updated the bgslibrary, which is very useful for my research by the way so very greatful for sharing it with us, to the pybind for binding with python. However when I try to run cmake to build Python support I get the two following errors.
First it tells me that there are no CmakeLists.txt files for pybind11
CMake Error at CMakeLists.txt:120 (add_subdirectory):
  The source dire

[2018-09-02 10:51] pauloord123 opened #141 "error compiling"
**Describe the bug**
Error compiling bsglibrary on OSX 10.11.6 with opencv 3.4.3.
/.../bgslibrary-master/FrameProcessor.h:74:5: error: unknown type name 'GMG'; did you mean
      'GMM'?
    GMG* gmg;
    ^~~
    GMM

**To Reproduce**
do it again..

**Expected behavior**
no errors

### System information
**Desktop (please complete the following information):**
- OSX 10.11.6 El Capitan:
- C++, XCode

[2018-09-03 06:41] w4-jonghoon commented on #140
I am wondering you may omit to initialize git submodule.
Did you try the following commands?
[code]

[2018-09-09 19:45] jesuinovieira commented on #141
I got the same error with OpenCV 3.4.3:

==============================
**error: ‘GMG’ does not name a type
GMG* gmg;**
==============================

Did you solve that?

[2018-09-10 09:11] pauloord123 commented on #141
I did a little try but ran in more errors. So for me it's up to the programmers to do some homework.

[2018-09-10 16:16] andrewssobral commented on #138
Thank you @w4-jonghoon for reporting this issue. I am fixing it.
Best,
Andrews

[2018-09-10 16:33] andrewssobral commented on #141
Thank you @pauloord123 @jesuinovieira for reporting this issue. I am looking at it.

[2018-09-10 18:14] jesuinovieira commented on #141
It's interesting to note that I'm using Linux, but the same error occurred.

[2018-09-10 22:04] andrewssobral commented on #141
Hi @pauloord123 @jesuinovieira can you test my last commit? I fixed the macro preprocessor for the GMG algorithm in https://github.com/andrewssobral/bgslibrary/commit/f65078c621dfa70258b513a28eb8810b714ec07b.

[2018-09-10 22:06] andrewssobral commented on #140
Hi @ozgunpelvan thanks for reporting this issue and thanks for your comments. @w4-jonghoon is right, you need to clone the repository with the ```--recursive``` parameter, or, if it is already cloned, you need to do `git submodule init` and `git submodule update --recursive`

[2018-09-10 22:10] andrewssobral commented on #128
Hi @headdab can I close this issue? Thanks

[2018-09-10 22:15] andrewssobral commented on #114
Now with the migration to pybind11 I think this issue was solved

[2018-09-10 22:17] #107 closed

[2018-09-10 22:26] #90 closed

[2018-09-10 22:26] #88 closed

[2018-09-10 22:27] #93 closed

[2018-09-10 22:30] #128 closed

[2018-09-12 09:06] HyuanTan commented on #74
I got the same issue when using Qt5.5.1(Install using apt-get install qt5-default), but OpenCV3.3.1, Ubuntu16.04 and Qt5.9 work for me.

[2018-09-12 12:39] andrewssobral commented on #74
Hi @HyuanTan thanks for the update. Yes, i think @burnzzz is right, maybe some incompatible changes between QT 5.6 and QT 5.9, I didn't had time to check this yet, but usually is expected to work on QT >= 5.9.1

[2018-09-12 12:48] andrewssobral commented on #102
Hi @MyraBaba I think this issue was fixed in the commit https://github.com/andrewssobral/bgslibrary/commit/1124e52228af6cdcd7a8b5f0e17809af74b49d40
I added CodeBook files in the project file (*.pro):
https://github.com/andrewssobral/bgslibrary/blob/master/gui_qt/bgslibrary_gui.pro

[2018-09-12 21:53] andrewssobral commented on #130
Hi @kafan1986 , sorry for my very long feedback. Yes, the bgslibrary uses the config file every time when you run an algorithm. You can change the path of the config files, but it is a manual step, by changing the setup() function in the constructor of each algorithm.

[2018-09-13 13:09] jacobpodhraski opened #142 "python setup.py install ERROR Windows"
running install
running bdist_egg
running egg_info
writing bgs.egg-info\PKG-INFO
writing dependency_links to bgs.egg-info\dependency_links.txt
writing top-level names to bgs.egg-info\top_level.txt
reading manifest file 'bgs.egg-info\SOURCES.txt'
writing manifest file 'bgs.egg-info\SOURCES.txt'
installing library code to build\bdist.win-amd64\egg
running install_lib
running build_ext
CMake Error at

[2018-09-13 13:13] andrewssobral commented on #142
Hi @jacobpodhraski ,

Unfortunately, setup.py does not support windows yet. If you want to build bgslibrary (with python support) on windows, I suggest you to follow the instructions below:

https://github.com/andrewssobral/bgslibrary/wiki/Installation-instructions---Windows
and
https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Python

There is also a video tutorial:

Compiling BGSLibrary

[2018-09-13 13:29] jacobpodhraski commented on #142
Okay thanks, I am walking through your video but I cannot seem to make out your installation lines. Do I have this correct? I see a -D in there but its throwing me an error.

-- Configuring incomplete, errors occurred!
See also "C:/Python/bgslibrary-master/bgslibrary-master/build_win64/CMakeFiles/CMakeOutput.log".

(base) C:\Python\bgslibrary-master\bgslibrary-master\build_win64>cmake -D BGS_PYTHO

[2018-09-13 13:30] andrewssobral commented on #142
The problem is in the following line:
```cmake -D BGS_PYTHON_SUPPORT-ON .. -G "Visual Studio 15 2017 Win64"```
the correct is:
```cmake -D BGS_PYTHON_SUPPORT=ON .. -G "Visual Studio 15 2017 Win64"```

[2018-09-13 13:59] jacobpodhraski commented on #142
Which directory should I have opencv folder in?
(base) C:\Python\bgslibrary-master\bgslibrary-master\build_win64>cmake -D BGS_PYTHON_SUPPORT=ON .. -G "Visual Studio 15 2017 Win64"
--
-- BGSLIBRARY WITH PYTHON SUPPORT: ON
-- PYTHON VERSION: 3
CMake Error at CMakeLists.txt:77 (find_package):
  By not providing "FindOpenCV.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package c

[2018-09-13 14:06] andrewssobral commented on #142
You need to specify it before running cmake:

[code]
Next:
[code]

If you don't want the python wrapper, you can ignore the following parameter `-DBGS_PYTHON_SUPPORT=ON`. Note that the your python must be located in your system path, and you need to have the opencv lib previously installed in your python package to be able to run the python demos.

Note:

Don't forget to clone the bgslibrary repos

[2018-09-13 14:41] jacobpodhraski commented on #142
Trying to make sense of this error now. I am not getting all of the files requried to proceed. Where should I set numpy in the path:

-- BGSLIBRARY WITH PYTHON SUPPORT: ON
-- PYTHON VERSION: 3
-- OpenCV ARCH: x64
-- OpenCV RUNTIME: vc15
-- OpenCV STATIC: OFF
-- Found OpenCV 3.4.2 in C:/opencv/build/x64/vc15/lib
-- You might need to add C:\opencv\build\x64\vc15\bin to your PATH to be able to run yo

[2018-09-13 14:52] andrewssobral commented on #142
This error occurs when your local python was not found by CMake, as can be seen here:
[code]
As you can see, everything is empty.

You can try the following solution by adding `PYTHON_INCLUDE_DIR` and `PYTHON_LIBRARY` as a CMake parameter:
[code]
Fore more info: https://stackoverflow.com/questions/24174394/cmake-is-not-able-to-find-python-libraries

[2018-09-13 18:42] jesuinovieira commented on #107
If you are compiling in Linux OS, then (after install the library):

Assuming that the _libbgslibrary_core.so_ file is located in /usr/local/lib

======================================================

To solve this **temporarily** (only in this bash session):
$ LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib
$ export LD_LIBRARY_PATH

======================================================

To solv

[2018-09-17 23:23] jacobpodhraski opened #143 "Make install command error. How can I fix this."
![screenshot from 2018-09-17 19-22-17](https://user-images.githubusercontent.com/35377164/45655606-1fc75380-baaf-11e8-966d-b4e41b1cc213.png)

[2018-09-19 13:53] Romukas commented on #143
It's probably a permission problem. Depending on distribution try
`sudo make install`
or
`su`
followed by root password and
`make install`

[2018-09-19 16:42] andrewssobral commented on #143
Yes, I'm agree with @Romukas

[2018-09-19 18:48] jacobpodhraski commented on #143
Awesome, so this fixed the issue. But I am still confused. I want to be able to import bgs into any python script i want to work on.  I cannot run python3 Demo.py as bgs is still an unknown module. Any fix for this?

[2018-09-19 20:31] jacobpodhraski commented on #143
Nevermind, I figured out the PATH setups. I can now import bgs. Although, I am getting this FrameDifference() error now. Any thoughts?

![image](https://user-images.githubusercontent.com/35377164/45779590-65a82700-bc29-11e8-8476-4b648d22dce1.png)

[2018-09-26 22:52] andrewssobral commented on #143
Hi @jacobpodhraski, sorry for my delayed feedback. There is something weird occurring, what happens if you do:
[code]
in your python console?

[2018-10-02 18:04] anibalanto commented on #36
Hello! Solve the problem create manually the folder config inside the folder build.

[2018-10-08 06:53] ScroogeMucDuck opened #144 "Python ImportError： Module can not be Found"
Hi,
I have installed this bag step by step on Windows with Anaconda Python 3. I have copied all files to
"E:\anaconda_setup\Lib\site-packages".

However, if I run "Demo.py", it shows:
AttributeError: module 'bgslibrary' has no attribute 'FrameDifference'.

Anyone any suggestions?
Thanks.

[2018-10-08 22:45] hoxi3 opened #145 ""error: ‘UMatData’ does not name a type" when building Python wrapper with OpenCV 2.4.8"
**Describe the bug**

When I attempt to build bgslibrary with a python wrapper, `make` terminates in error, seeming to complain of not finding a certain type definition which is perhaps absent from OpenCV 2 but not OpenCV 3. (I am using OpenCV 2. I can successfully build the library without a python error.)

**To Reproduce**

Using OpenCV 2.4.8 and Python 2.7.6 and Ubuntu 14.04.5 LTS and GCC 4.9.4

[2018-10-09 20:07] hoxi3 opened #146 "No libbgs.so file after "Building with Anaconda Python""
**Describe the bug**
After following the instructions posted at https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Python#building-with-anaconda-python, no `libgsl.so` file is created, although `make` terminates with error code `0`. Running `python Demo.py` results in an error:

[code]

**To Reproduce**
[code]

**Expected behavior**
I expected a `libbgs.so` file to be created and `Demo.py`

[2018-10-10 22:04] andrewssobral commented on #146
Hi @hoxi3 , thank you for opening this issue, I will check it soon as possible due to my limited time

[2018-10-10 22:04] andrewssobral commented on #145
Hi @hoxi3 , thank you for opening this issue, I will check it soon as possible due to my limited time

[2018-10-10 22:05] andrewssobral commented on #144
Hi @ScroogeMucDuck  , thank you for opening this issue, I will check it soon as possible due to my limited time

[2018-10-25 12:44] kangliangc commented on #121
Got same error here

[2018-11-12 23:47] rbennum opened #147 "Question on ViBe"
Hello. I want to ask a question. I've read "bgslibrary/vibe-background-sequential.cpp" source file, and in lines 759-761, these are the codes:

    historyImage[index_neighbor + position[shift] * (3 * width) * height] = r;
    historyImage[index_neighbor + position[shift] * (3 * width) * height + 1] = g;
    historyImage[index_neighbor + position[shift] * (3 * width) * height + 2] = r;

So, is the

[2018-12-11 02:19] Czhazha commented on #65
Video change to frames failed.
Maybe you should check your tools_path and tools like ffmpeg.

[2018-12-21 09:23] bombs-kim opened #149 "Build fails at macOS High Sierra 10.13.6 / AppleClang 10.0.0 / opencv 3.4.1"
I failed to build this repository. Could anybody help me with this? Here is the CMake log

[code]

And here is a part of error messages generated by `make` command
[code]

[2019-01-03 08:19] KanaSukita commented on #120
I've got the same white screen problem. But it seems libbgs.KNN() is just using the BackgroundSubtractorKNN API in OpenCV, you can use the OpenCV API instead. The ways they are used are similar.

[2019-01-11 10:27] acrarshin opened #150 "Unresolved External: LNK2019"
Here is the error: LNK2019	unresolved external symbol "public: __cdecl BackgroundSubtractorSuBSENSE::BackgroundSubtractorSuBSENSE(float,unsigned __int64,unsigned __int64,unsigned __int64,unsigned __int64,unsigned __int64)" (??0BackgroundSubtractorSuBSENSE@@QEAA@M_K0000@Z) referenced in function "public: virtual void __cdecl bgslibrary::algorithms::SuBSENSE::process(class cv::Mat const &,class cv::

[2019-02-05 15:55] mnchapel commented on #146
Hello,
I got the same issue. In the build directory I got a `libbgslibrary_core.so` but no `libbgs.so`.

[2019-02-25 00:33] sbarrufaldi opened #152 "Problem with libraries during make"
I tried to install **bgslibrary** as it shows on [README: **Ubuntu / OS X installation**.](https://github.com/andrewssobral/bgslibrary/wiki/Installation-instructions-Ubuntu-or-OSX)

I cloned repository. **OK**
Ran `cd build` and `cmake ..` **OK**
When I ran `make` for first time it showed this:

 #include <cv.h>**

(Sorry, I got it in spanish!)

... then have modified the file **IBGS.h** with the

[2019-03-10 19:23] andrewssobral commented on #152
Hello @sbarrufaldi ,
I think this error:
[code]
was solved in my last commit https://github.com/andrewssobral/bgslibrary/commit/4aca9a30f89f40cf17dad1aa2e712bdfb55b2ac2

Can you test and validade if this error still occurs in the latest version of the master branch?
Thanks in advance,
Andrews

[2019-03-12 17:52] mexicantexan opened #153 "Build Fails: Project File Missing"
So I'm following the install instructions and everything goes fine until I get to the cmake command at which point I get the following error:

Selecting Windows SDK version 10.0.17763.0 to target Windows 10.0.17134.
CMake Error at CMakeLists.txt:3 (project):
  Failed to run MSBuild command:

    C:/Program Files (x86)/Microsoft Visual Studio/2017/Community/MSBuild/15.0/Bin/MSBuild.exe

  to get th

[2019-03-12 21:05] andrewssobral commented on #153
Hello @mexicantexan ,
Thanks for opening this issue.
It's strange for me this kind of error. Can you show me a more detailed step-by-step what you did ?
If possible, put the cmake output too. In your comment you say using `Visual Studio 2015` but in the logs it shows `Visual Studio 2017`....however this is not an issue because the library is compatible with both.
It seems to be something missing f

[2019-03-12 21:13] andrewssobral commented on #150
It seems the problem is because SuBSENSE is in the wrong place (in your visual studio solution)...and the SuBSENSE also have other dependences like `package_bgs/LBSP` folder.
I think the best is to use CMake to construct your Visual Studio solution/project.

[2019-03-12 21:19] andrewssobral commented on #147
Thank you @rbennum for reporting this issue, I think this was a typo in the code, I am fixing it.
*Sorry for my long delayed feedback to you*

[2019-03-12 21:21] andrewssobral commented on #147
Fixed https://github.com/andrewssobral/bgslibrary/commit/7fb89288689bb83cd96350672bbf894d0ef5459d

[2019-03-12 21:21] #147 closed

[2019-03-13 02:14] acrarshin commented on #150
I have added all the dependencies but the problem still persists.
Will try building it through CMake
Thanks

[2019-03-13 10:24] potoo0 commented on #114
It's works.
Add this at the top of script.
[code]

[2019-05-05 13:33] chunniunai220ml commented on #145
Hi, @hoxi3  @andrewssobral , I have the same question,do you fix it or have some ideas?

[2019-05-05 13:35] chunniunai220ml commented on #145
Hi, @hoxi3 @andrewssobral , I have the same question,do you fix it or have some ideas?
System information:
 Linux Ubuntu 16.04): Linux Ubuntu
Python version (for issues related to the python wrapper): Python 3.5 and 2.7
OpenCV 2.4.9
GCC 5.4.0

[2019-05-08 19:12] hoxi3 commented on #145
@chunniunai220ml : I ended up using opencv v3

[2019-05-26 18:47] jafaronly commented on #152
It still present, any result from investigation please !
@andrewssobral

[2019-06-07 20:23] jiapei100 commented on #152
@andrewssobral
Indeed, Andrews Sobral, it seems **bgslibrary 2.0.0** conflicts against **OpenCV4** ...

[2019-06-20 14:20] luochenshuang commented on #70
Eureka! It's exactly solved my problem. A _config_ folder is required where the VC++ Project file locate.

[2019-06-26 13:16] hadi-ghnd opened #154 "How to set timer for the running time of each algorithm?"
I had two questions about your library:

1. How to get the exact running time of each algorithm? I noticed there is a **startTimer()** and **stopTimer** command, but there is no duration time when the running finishes.

2. How to run and debug the algorithms in Visual Studio without using the gui? For example, if I wanted to change something about one of the algorithms and see the result in a VS s

[2019-07-01 09:13] Adwardyang opened #155 "The PAWCS take too long，about 0.8 second per frame"
the image origina size is 1920 x 1080,I make it risize to 320x240 (QVGA),the it about 0.8 second per frame at Intel i7 CPU,the paper said that the speed is 22 frames per second Intel i5 CPU,can you help me to enhance the processing speed?

[2019-07-04 05:24] johndpope commented on #96
was bumping up with this error for boot_python2 - this
cd /usr/lib/x86_64-linux-gnu/
sudo ln -s libboost_python-py27.so libboost_python2.so
fixed things for me too. thanks

[2019-08-03 22:09] andrewssobral commented on #155
Hi @Adwardyang ,
Thanks for reporting this issue.
Yes, 0.8 second per frame is too much for a Intel i7 CPU.
It's difficult to see what it could be, several things could increase or decrease the processing speed.
Do you have compiled the OpenCV by yourself ?

[2019-08-07 10:15] andrewssobral commented on #154
Hi @hadi-ghnd

Thanks for your questions, and sorry for my late reply. Here are my comments:

Following this [post](https://stackoverflow.com/questions/728068/how-to-calculate-a-time-difference-in-c), you can compute the running time using the following code:
[code]

You can check the `examples` folder added in the new version of the `master` branch.
Please, see: https://github.com/andrewssobral/b

[2019-08-07 10:16] #150 closed

[2019-08-07 10:17] andrewssobral commented on #149
@bombs-kim Thanks for reporting this issue, can you please try the latest version of the master branch? best regards.

[2019-08-07 10:20] andrewssobral commented on #146
Hi @hoxi3 , can you please try the latest version of the master branch?
Usually, after building the library, you just need to put the libbgs in your Python path by:
[code]
https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Python#building-with-anaconda-python

[2019-08-08 11:15] andrewssobral commented on #154
Update:

For the the running time, you can also use:
[code]

[2019-08-16 12:26] laokangde opened #160 "Provide a .pyd file for users"
I try to install this lib from 9:00am to 8:00pm and finally I made it.
Here is what I got - a pybgs.pyd file, it works well with python3.7, hope that it may help you.
[pybgs.txt](https://github.com/andrewssobral/bgslibrary/files/3509527/pybgs.txt)
Remember to change the file from .txt to .pyd before you use it.

[2019-08-16 12:30] andrewssobral commented on #160
Hi @laokangde ,
Thanks a lot for your contribution.
Can you explain me the steps you done to build the `pybgs.pyd` file ?
This was done using the latest master branch?
I am still working to publish a stable and working version of pybgs in the PyPi repository.
Some new improvements are also in progress.
Thanks in advance

[2019-08-17 01:57] laokangde commented on #160
Thank you for your contribution.
Here is my environment:

Anaconda python=3.7.3
VisualStudio_enterprise_2015
OpenCv=3.47
cmake=3.15.2

I follow those steps：[https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Python#building-bgslibrary-with-python-support-on-windows](url).
There are some ‘PATH’ problems occured, so I add 'C:\Program Files\opencv\build\x64\vc14\bin' and 'C:\Program Files\bgsl

[2019-08-18 16:53] andrewssobral commented on #160
Great, thank you @laokangde for reporting these issues,
I've just fixed now. Can you try the latest master branch?
Please let me know if it works well for you. Best regards.

Fixed.

Fixed

[2019-08-19 01:10] laokangde commented on #160
Thanks, but still failed with MATLAB2018b.

First, I copy those  `C:\Program Files\opencv\build\include\opencv2` to `C:\Program Files\MATLAB\R2018b\toolbox\bgslibrary-master\src\algorithms\opencv2` because it says :

..\..\src\algorithms/IBGS.h:16:39: fatal error: opencv2/highgui/highgui_c.h: No such file or directory
 #include <opencv2/highgui/highgui_c.h>
                                       ^

[2019-08-19 09:26] andrewssobral commented on #160
Humm...I think this is related to the installation of the OpenCV on MATLAB.
You don't need to put `opencv2` folder inside `src\algorithms`.
In this case you should install the package [opencvinterface.mlpkginstall](https://github.com/andrewssobral/bgslibrary/blob/master/wrapper/matlab/opencvinterface.mlpkginstall) provided in the matlab wrapper folder before compiling the bgslibrary.
It will insta

[2019-08-21 04:42] limeflavour opened #161 "import bgs ImportError: DLL load failed: Dynamic Link Library (DLL) initialization routine failed"
I have bgs.cp36-win_amd64.pyd and libbgslibrary_core.dll, and I've added them to environment variables, but when i import bgs to my project ,
ImportError: DLL load failed: Dynamic Link Library (DLL) initialization routine failed

### System information
**Desktop**
- **OS: win10**
- **Python version: 3.6.5**
- **OpenCV version: 3.3.0**

[2019-08-21 06:33] andrewssobral commented on #161
Hi @limeflavour ,
Thanks for reporting the issue.
Usually this issue is related to the Python Path that is not finding both bgs.cp36-win_amd64.pyd and libbgslibrary_core.dll as you can see here: https://stackoverflow.com/questions/3701646/how-to-add-to-the-pythonpath-in-windows-so-it-finds-my-modules-packages

Another way is to do :
[code]
or:
[code]

[2019-08-22 04:08] gengjia0214 opened #162 "undefined symbol: g_ref_count_inc"
Hi Andrew,

After I installed the gui, I got an error about undefined symbol when trying to run it. Any insight what might cause this?  Thanks you!
Error msg:
[code]

[2019-08-23 01:02] laokangde commented on #160
Unfortunately, I have installed [Computer Vision System Toolbox OpenCV Interface] already, if just install [Computer Vision System Toolbox OpenCV Interface] without putting  'opencv' folder inside, here is the error you may get"

..\..\src\algorithms/IBGS.h:16:39: fatal error: opencv2/highgui/highgui_c.h: No such file or directory
 #include <opencv2/highgui/highgui_c.h>

[2019-08-23 18:14] HannesOberreiter opened #163 "QT GUI Mac/Linux Wiki"
If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description

[2019-08-23 18:25] andrewssobral commented on #163
Thank you @HannesOberreiter for the remark,
Yes, the folder structure was changes, I will update the Wiki.
Cheers,
Andrews

[2019-08-26 15:38] HannesOberreiter opened #164 "Available Algorithms"
Hi,

I compiled the gui version with cmake and cv4 and it seems to work fine, but there are not as many algorithms available as in your documentation.

Did I installed it wrong or is it because of cv4?

![Bildschirmfoto 2019-08-26 um 16 07 38](https://user-images.githubusercontent.com/16878981/63696658-7db1fe80-c81b-11e9-89a3-b3d07aea3987.png)

Can I also drop a small question, maybe anyone has so

[2019-08-26 18:26] hustcalm opened #165 "Update algorithm benchmark"
Thanks for this great work! I noticed the current [benchmark result](https://github.com/andrewssobral/bgslibrary/wiki/Algorithms-benchmark) is kind of outdated, could you please update that to the latest (with all available algorithms)?

[2019-08-27 08:50] andrewssobral commented on #165
Thank you @hustcalm , yes I need to do it.
I'm still working to add new types of bgs algorithms for the version 3., once I finish I'll do a new benchmark.

[2019-08-27 09:08] andrewssobral commented on #164
Hi @HannesOberreiter ,

Yes, the small number of available algorithms is due to the version of opencv (currently the opencv3 is the most supported offering 42 algorithms over 43), I need to migrate/adapt existing algorithms for opencv4, I'm still working on it.

About your second question, there's no a right answer to it. Taking into account my large experience on background subtraction, a lot of

[2019-08-27 09:27] HannesOberreiter commented on #164
Thank you very much for your great answer!

[2019-08-27 09:33] andrewssobral commented on #164
You're welcome!

[2019-08-29 19:51] jiapei100 opened #167 "Is it possible to build python package without using third_party/pybind11 ?"
Hi, Andrew:

How is everything? Glad to see you upgrade **bgslibrary** to version 3... ^_^

My issue:
Is it possible to build python package without using **third_party/pybind11** ?

I just successfully built the C/C++ version.
Trying

[code]

with the following **ERROR** message:

[code]

However, I've **ALREADY**manually installed **pybind11**:

[code]

Is there a way for users to build **bgslib

[2019-08-29 20:29] andrewssobral commented on #167
Hi @jiapei100 , thanks a lot! ;)
I think this error is related because you may forgot to clone the repository with the `--recursive` parameter, like this:
`git clone --recursive https://github.com/andrewssobral/bgslibrary.git`
this will clone also the submodules required by bgslibrary like pybind11.
Please let me know if this solve your issue

[2019-08-29 20:46] jiapei100 commented on #167
@andrewssobral

hmmm.. There might have 2 solutions:
1) The FIRST one is your solution, which is NOT my preference.
2) I think there is a SECOND solution? Because I've ALREADY manually installed **pybind11** under _.local/lib/python3.7/site-packages_, we may be able to ignore the recursive **third_party**, but based on the existing **pybind11**????

[2019-08-29 21:01] andrewssobral commented on #167
@jiapei100
You may need to modify the [CMakeLists.txt](https://github.com/andrewssobral/bgslibrary/blob/master/CMakeLists.txt) file by:
[code]
you may also need to comment this line https://github.com/andrewssobral/bgslibrary/blob/master/CMakeLists.txt#L209
However, if it still not working, you may need to look at this issue https://github.com/pybind/pybind11/issues/1379
Not sure if PIP install th

[2019-08-29 22:04] jiapei100 commented on #167
@andrewssobral

My bad... It looks it's NOT just
[code]

but I need to build and install the [C++ version of pybind11](https://github.com/pybind/pybind11), which is OK...

Thank you Andrew... Close the issue now...

[2019-08-29 22:04] #167 closed

[2019-09-11 03:04] yao177 opened #169 "/usr/bin/ld: cannot find -lopencv_dep_cudart"
I met a problem when I tried to build the program.

`$ make`

I think it doesn't need CUDA, but how to fix it.

[2019-09-11 07:20] aroranikhil786 opened #170 "Couldn't import pybgs in python."
I build bgslibrary with no errors, but there is no libbgs.so or any other related file created during the building. I'm working on Windows 10 and build it using Anaconda. The library is working fine when I run it manually via webcam but not with python 3.6. Kindly please look into it.

![Capture](https://user-images.githubusercontent.com/29930285/64676161-9a446c80-d492-11e9-9331-5e3050df932d.PNG)

[2019-09-11 20:06] andrewssobral commented on #169
Hi @yao177 , thanks for reporting this issue. Yes, it's strange, because bgslib do not use CUDA.

[2019-09-11 20:08] andrewssobral commented on #170
Hi @aroranikhil786 thanks for reporting this issue,
can you show me the cmake command you used? did you clicked on "BUILD ALL" in your Visual Studio?

[2019-09-11 20:14] aroranikhil786 commented on #170
Yes I build using "BUILD ALL". I followed these steps. [https://github.com/andrewssobral/bgslibrary/wiki/Compiling-BGSLibrary-with-OpenCV-3.x-and-Visual-Studio-2015-from-CMAKE](url)

[2019-09-11 20:21] andrewssobral commented on #162
Hi @gengjia0214 ,
Thanks for reporting this issue.
I don't know exactly what it could be, but it seems something broken with your libgio as you can see in the links below:
https://medium.com/@Aenon/glib-symbol-lookup-bug-in-debian-or-ubuntu-def678dab5a6
https://www.linuxquestions.org/questions/linux-software-2/problem-with-libgio-2-0-so-0-i%27ve-broken-my-system-867795/

[2019-09-11 20:26] andrewssobral commented on #170
Can you show me the Visual studio outputs when you click just on Build in the bgs_python project?

[2019-09-11 20:46] aroranikhil786 commented on #170
When I initially build it, it was successfully build with no errors when I rebuild it now this output comes:
`------ Rebuild All started: Project: ZERO_CHECK, Configuration: Release x64 ------
1>Checking Build System
1>CMake does not need to re-run because D:/Library/bgslibrary/build/CMakeFiles/generate.stamp is up-to-date.
1>CMake does not need to re-run because D:/Library/bgslibrary/build/module

[2019-09-17 01:57] yao177 commented on #169
Oh, I found a solution. To add `-DCUDA_USE_STATIC_CUDA_RUNTIME=OFF` can fix it.

[2019-09-24 20:28] andrewssobral commented on #169
Great, thank you @yao177 for this info.

[2019-09-24 20:28] #169 closed

[2019-09-24 20:58] andrewssobral commented on #170
Hi @aroranikhil786 sorry for my delayed feedback to you, I was very busy at work these last days.
I will take a more deeper look on it this weekend, and I will let you know as soon as possible.
Best

[2019-09-25 05:52] aroranikhil786 commented on #170
@andrewssobral No issues. Take your time.

[2019-09-25 08:12] shubham162019 opened #172 "Unable to install pybgs with opencv-python pip"
I have installed opencv-python using pip command, but while trying to install pybgs using pip, I get the following error which says :

By not providing "FindOpenCV.cmake" in CMAKE_MODULE_PATH this project has
      asked CMake to find a package configuration file provided by "OpenCV", but
      CMake did not find one.

      Could not find a package configuration file provided by "OpenCV" with any

[2019-09-25 08:23] andrewssobral commented on #172
Hi @shubham162019 ,
Yes, unfortunately you need to install opencv lib.
The opencv-python package is limited to python scripts only,
As the core of bgslibrary is on C++, and the pybgs is just a wrapper around it, so when you do `pip install pybgs` it will download the C++ source code and compile the python wrapper locally.

[2019-09-25 08:32] shubham162019 commented on #172
Thanks.

[2019-09-25 08:32] #172 closed

[2019-10-23 08:48] Acxyle opened #173 "AttributeError: module 'pybgs' has no attribute 'DPAdaptiveMedian'"
Hi there, I need some help.

When I tried to run the **demo2.py**, it reported an **AttributeError: module 'pybgs' has no attribute 'DPAdaptiveMedian'**, then I annotated that line and ran again, same error happened but for the following line: **AttributeError: module 'pybgs' has no attribute 'DPGrimsonGMM'**

![demo2_1](https://user-images.githubusercontent.com/50175866/67369152-190ce900-f5ab-11e

[2019-10-23 19:52] andrewssobral commented on #173
Hi @Acxyle ,
Thanks for reporting this issue. I will take a look on it.
Best

[2019-10-24 14:14] alexpnt commented on #96
Your system probably has a old boost library that used a naming convention not compatible with current releases:

You can try renaming them like this:

cd /usr/lib/x86_64-linux-gnu/
sudo ln -s libboost_python-py35.so libboost_python3.so
sudo ln -s libboost_python-py35.a libboost_python3.a

[2019-11-14 08:44] LjwPanda opened #174 "Bad argument while use bgs with python3"
my platform is win10
use python3.7 and bgs2.0
bgs compiled with opencv3.4.5
I got error
RuntimeError: OpenCV(3.4.5) C:\build\3_4_winpack-build-win64-vc14\opencv\modules\core\src\array.cpp:1246: error: (-5:Bad argument) Array should be CvMat or IplImage in function 'cvGetSize'
in a lot of model,such as MultiCue ,LBMixtureOfGaussians and so on

what is my problem?

[2019-12-23 13:29] miltosc commented on #114
Same here even i tried all the above solutions

[2019-12-24 08:26] potoo0 commented on #114
Well, you can backup the original folder and delete some files for testing.
According to my tests, following files are required:

[code]

And, `.vs` is a hidden folder under the `bulid` folder, which takes up quite a bit of disk.

[2020-01-03 02:01] #130 closed

[2020-02-13 01:15] phenix-chen opened #175 "error compiling on OSX with Opencv 4.2.0"
**Describe the bug**
error compiling on OSX with Opencv 4.2.0

**To Reproduce**
[code]

**Expected behavior**
[code]

### System information
macOS Catalina 10.15.3
Opencv 4.2.0
gcc 9.2 or clang 11(Both were tested)

**Additional context**
Add any other context about the problem here.

[2020-02-22 23:21] andrewssobral commented on #175
Hi @phenix-chen , thanks for opening this issue, I confirm the bug.
I am working on it.

[2020-02-22 23:30] andrewssobral commented on #175
Hi @phenix-chen I did a fix for this issue as you can see here https://github.com/andrewssobral/bgslibrary/pull/176
Please, let me know if it's working well for you.

[2020-02-23 04:03] phenix-chen commented on #175
I've compiled successfully now. Thanks.

[2020-02-23 04:03] #175 closed

[2020-02-23 14:15] andrewssobral commented on #175
Thank you @phenix-chen !

[2020-02-24 05:09] sagar1garg opened #177 "Android compatibility"
@andrewssobral how to make this library work on android?

[2020-02-24 20:27] andrewssobral commented on #177
Hi @sagar1garg , unfortunately I don't have experience on Android to help you on that, but there's a small tutorial explaining how to build the Java wrapper for bgslibrary here: https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Java

[2020-02-25 20:09] andrewssobral commented on #174
Hi @LjwPanda , thanks for reporting this issue.
Unfortunately I could not reproduce your error on my local environment.
From my side, I used:
[code]
Please see my logs below:
[code]

After compilation, it worked successfully with an input video, as you can see below:
[code]

[2020-02-25 21:00] andrewssobral commented on #174
Hi @LjwPanda I found the problem, it is on Python side, I am investigating...

[2020-02-26 20:27] andrewssobral opened #178 "Build error with OpenCV 3.4.9 (works fine for <= OpenCV 3.4.7)"

[2020-02-27 07:18] FaiScofield commented on #74
QT5.11 works for me but QT5.5.1 doesn't.

[2020-03-04 09:51] linehammer commented on #161
PYTHONPATH is an environment variable which you can set to add additional directories that Python should add to the sys.path directory list. For most installations, you should not set these variables since they are not needed for Python to execute normal programs because Python knows where to find its standard library. [PYTHONPATH](http://net-informations.com/python/intro/path.htm) is used to assi

[2020-03-23 14:17] frankenstein91 opened #179 "Can't install on ArchLinux"
**Describe the bug**
I can't install the package via pip, but I think it might help me a lot with my current projects.

**To Reproduce**
I have tried to install the package with pip as described in the manual, the command is: pip install pybgs

**Expected behavior**
I expect that the package can be installed via pip. I wouldn't know any further description for this field. Sorry.
### System informa

[2020-03-23 14:56] andrewssobral commented on #179
Hi @frankenstein91 ,
Thanks for reporting this issue.
I will take a look on it, I think it is related to a current problem I am currently trying to fix.
Best

[2020-03-24 07:51] frankenstein91 commented on #179
If it were the problem you already know, would there be a workaround to get ahead? It's my COVID-19 leisure project. I also need to figure out how to replace the cv2.createBackgroundSubtractorMOG2 with your project. On your demo the result looks much better at least.

[2020-03-25 09:26] jaeyorkim opened #180 "Questions about the function "getBackgroundModel" in the code."
First of all, thank you for uploading this great code.

I have a question about the function "getBackgroundModel" in the code.

I know that SuBSENSE algorithm has about 40 background samples in one frame, but the output using the "getBackgroundModel" function is one RGB image.

Does this function take the average of all samples? Or what other method did you use?

[2020-04-24 09:48] frankenstein91 commented on #179
any news from your side?

[2020-04-25 18:11] leavittx opened #181 "Many algorithms not available under OpenCV 4.x"
I wonder why over 20 algorithms (DPAdaptiveMedian/MultiLayer/KDE among them) are only available under OpenCV 2.x/3.x. I'm using Python bindings for bgs

[2020-04-29 12:49] andrewssobral commented on #179
@frankenstein91 I'm sorry for my delayed feedback to you, I was very busy in the last days stucked with a lot of tasks, I hope to be free this weekend to continue my work on it, sorry.

[2020-04-29 12:52] andrewssobral commented on #181
Hi @leavittx , yes, in fact, I need to adapt some algorithms to work on OpenCV 4.x due to removal of old APIs. I'm close to finish this work, I will let you update when I've done. Thanks.

[2020-05-11 06:01] #180 closed

[2020-05-17 09:10] leavittx commented on #181
Thanks, can't wait for getting it to work!

[2020-05-19 07:52] AOOOOOA opened #182 "How to get long term and short term background model"
Hi:
  I'm using the python wrapper of bgslibrary on Ubuntu 18.04 now.
  In demo2.py, the bgmodel is generated by algorithm.getBackgroundModel(). However, I want to get a short term and a long term background model now. Which is similar to the opencv function shown in img 2. In opencv, I can set different learning rate. Does there any parameter in bgslibrary python that I can change?
  Thank you so

[2020-05-20 01:52] AOOOOOA commented on #136
Hi @andrewssobral
  I just wondering does other bgs algorithms have learning rate that I can change?

Thank you!

[2020-06-19 13:51] Nelstaar commented on #179
Hi fixed my build changing CV_RGB(X,Y,Z) into CvScalar{X,Y,Z}. (initalizer_list}
It build but also it turn into a Warning party.
I am just doing some tests.

[2020-06-28 12:10] davidbenshimon commented on #179
Hello,
I am having problems to install the package via pip. I couldnt find any workaround. following is he start and the end of the log...too long to post its all:

Collecting pybgs
  Downloading pybgs-3.0.0.post2.tar.gz (850 kB)
Using legacy setup.py install for pybgs, since package 'wheel' is not installed.
Installing collected packages: pybgs
    Running setup.py install for pybgs: started

[2020-06-28 22:25] andrewssobral commented on #179
Hi @frankenstein91 @Nelstaar @davidbenshimon thanks a lot for those informations,
Unfortunately i still haven't had time to solve this problem, currently very busy at the work, I'm trying to find a time window to go deeply into this issue.

[2020-07-07 06:19] AOOOOOA commented on #182
After I read the source code, I find out that u set the learning rate in .h file and users cannot set it as a parameter. Do i have other method to set it?

[2020-07-07 11:15] andrewssobral commented on #182
Hi @AOOOOOA , I am sorry for my delayed feedback to you, I'm currently very busy at work.
Thank you for opening this issue. Yes, unfortunately there's no a python function to update the parameters.
This is in my TODO list, I hope to have time to work on it this summer, and I let you updated when it's done.
Thanks,
Andrews

[2020-07-08 01:46] AOOOOOA commented on #182
Thank you. Wish you have a good day!

[2020-07-11 16:40] frankenstein91 commented on #179
My next vacation is in August, right in the middle... I would like to start my project there again (from scratch). Do you think you can make it until then? Or should I switch to a VM maybe?

[2020-07-16 19:28] TheMasterRoot opened #184 "i cant install by pip install"
im trying to install your lib by PIP but im getting some errors
i  instaled all requirements and i have opencv in system path,

[code]

[2020-07-16 20:36] TheMasterRoot commented on #181
for now what is the best example to run in opencv 4 of BGS using a base frame to get background for subsequent ones?

[2020-07-27 12:40] sabrabano0 opened #185 "short learning background first, without updating that"
Hi, thank for your amazing lib first

I have a factory rail that at first moments (first 10 second) i want to learn background and then extract objects on it,
for my video multicue was good but i found that it is updating background model in each frame
is there any other algorithm that just build bkg model base on first seconds?

[2020-07-28 05:54] xuehuachunsheng commented on #178
Is the feature fixed?

[2020-07-28 09:54] wqc007 commented on #184
我也遇到过，刚刚解决，方案：
1.这里的opencv是C++的opencv,不是python的，所以需要下载一个c++的 (我下载的是3.4.2版本), 还要配置opencv的环境变量哟
opencv下载地址：https://opencv.org/releases.html#
2.在系统环境中，新增一个环境变量：OpenCV_DIR，地址为opencv的lib (如，我的是：C:\opencv\build\x64\vc15\lib)
配置讲解：https://blog.csdn.net/maizousidemao/article/details/81474834
（注：如果不是用vs开发，可以忽略 “三、部署opencv”）
3.我是在windows下安装的，这个时候输入“pip install pybgs” 还会有个“-j8”的错误，解决方法：
下载源码，删除setup.py文件中的16

[2020-07-28 11:36] TheMasterRoot commented on #184
thank you

[2020-07-31 22:03] SabraHashemi opened #186 "run multilayer in qt gui with detect mode"
Hi
in your qt gui we don't have any option to active detect mode
it is only on learn mode
and in learn mode it dont produce ,yml file.
can you explain how should i use it?
 if it needed to write our main, how it should be? (in c++)

[2020-08-31 08:19] menessahin commented on #178
DPAdaptiveMedian.cpp:24:33: error: no matching function for call to ‘_IplImage::_IplImage(const cv::Mat&)’
frame = new IplImage(img_input);

I get this error with OpenCV 3.4.9.

[2020-09-08 06:22] Musambani opened #187 "pip install pybgs only works up to opencv_version 3.4.7"
When installing via `pip install pybgs` building the wheel or running setup.py fails.
The error is always during cmake compilation.
`2020-08-24T14:09:04,468   /tmp/pip-install-l94hfk2g/pybgs/src/algorithms/DPAdaptiveMedian.cpp:24:33: error: no matching function for call to ‘_IplImage::_IplImage(const cv::Mat&)’
`
or very similar.
I played around with various opencv-versions and different ubuntu-ve

[2020-09-08 06:30] Musambani commented on #187
just found out that this is a duplicate to https://github.com/andrewssobral/bgslibrary/issues/178
However maybe my findings can support.
Thx.

[2020-09-08 21:48] andrewssobral commented on #187
Hi @Musambani , sorry for my delayed feedback to you, and thank you for those remarks.
Yes, unfortunately the bgslibrary has some issues after building it with OpenCV > 3.4.7.
This is related to a small API change from the OpenCV side when we convert from IplImage to Mat and vice-versa.
I'm still blocked on it, I hope to fix this soon.
Thank you

[2020-09-08 21:49] andrewssobral commented on #178
Hi @menessahin @xuehuachunsheng I'm sorry for my delayed feedback to you.
Hi @Musambani , sorry for my delayed feedback to you, and thank you for those remarks.
Yes, unfortunately the bgslibrary has some issues after building it with OpenCV > 3.4.7.
This is related to a small API change from the OpenCV side when we convert from IplImage to Mat and vice-versa.
I'm still blocked on it, I hope to fix

[2020-09-08 21:51] andrewssobral commented on #186
Hi @sabrabano0 , I'm sorry for my delayed feedback to you.
Yes, you're right. In fact, when you run the algorithm it produces a configuration file in the `config` folder. You can open it, and change the from `learn` to `detect` mode. Hope this helps you.

[2020-09-08 21:55] andrewssobral commented on #185
Hi @sabrabano0 sorry for my delayed feedback to you.
Yes, as you cited in https://github.com/andrewssobral/bgslibrary/issues/186 , the MultiLayerBGS algorithm is the best choice for you because it generates and saves a background model file during the learning step. Unfortunately, the others one produce an in-memory model with no option to save it as file.

[2020-09-12 03:38] peijason opened #188 "load xml files in a specified folder ."
Hi, Andrews Sobral:

How to load those **xml** files under folder **config** if I put those **xml** file somewhere else?

[2020-09-15 19:38] peijason opened #189 "set mask in Python ?"
Tested both **c++** and **python**.

1) In **c++**:
`bgs->process(img_input, img_mask, img_bkgmodel);`
we can input a **img_mask**.

2) In **python**:
from `demo.py` and `demo2.py`.
`img_output = algorithm.apply(frame)`

it looks there is **nowhere** for me to input an **mask image**?

Any suggestions?

[2020-09-17 09:42] jack-q688 opened #190 "Why is there missing files such as bgs_demo.vcxproj after I follow the video steps?"
If you open a GitHub issue, here is our policy:
Hello, I have a problem.

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Describe the bug**
Why is there missing files such as bgs_demo.vcxproj after I follow the video steps?

**To Reproduce**
![PC3PN 55_U905PTZ@C )(KW](http

[2020-09-19 18:27] jiapei100 opened #191 "LOBSTER's foreground NEVER turns into background ?????"
Is it a potential bug for LOBSTER?

LOBSTER outperforms most of the other algorithms in my testing, however:

- If I feed in a single image for 1000 times, there should be **NO** motion and every pixel should be classified into **background** instead of **foreground**, right? But, in my case, after 1000 frames, both the background and foreground keep roughly the same as for the 1st frame.

I didn'

[2020-09-29 19:40] chacha21 opened #192 "Disable model updating ?"
I would like to test the BGS library for post-processing some short very static sequences.

When I do that with OpenCV, I usually :
-make a first pass with an auto-learning rate on the sequence (or a set of images matching the learning "time window" of the algorithm)
-then I can pick images randomly in my sequence, and "apply()" the algorithmn with a special value for the learning rate (0) to prev

[2020-10-19 13:26] Gr8Dane7 opened #193 "pybgs .egg import issues"
Python cannot import pybgs. After building Visual Studio 2015 ALL_BUILD (with bgs_python) the following file appears in my site_packages folder for anaconda - pybgs-3.0.0.post2-py3.7-win-amd64.egg but nothing else. When I try to import in python i get the following error:
          Traceback (most recent call last):
           File "<stdin>", line 1, in <module>
           ModuleNotFoundError: No

[2020-11-04 09:32] naruto-uzumakki opened #194 "Can not build bgslibrary as a static library"
[ 95%] Built target bgslibrary_core
[ 96%] Linking CXX executable bgslibrary
libbgslibrary_core.a(KNN.cpp.o): In function `bgslibrary::algorithms::KNN::process(cv::Mat const&, cv::Mat&, cv::Mat&)':
KNN.cpp:(.text+0x12d8): undefined reference to `cv::createBackgroundSubtractorKNN(int, double, bool)'
libbgslibrary_core.a(MixtureOfGaussianV2.cpp.o): In function `bgslibrary::algorithms::MixtureOfGauss

[2020-11-06 11:19] jaweii opened #195 "python demo.py zsh: segmentation fault"
sorry i'm not a native english speaker, so let me describe the problem simply:

git clone --recursive https://github.com/andrewssobral/bgslibrary.git bgs
cd bgs/build
python setup.py build

[100%] Built target bgs_python
Moving built python module
python setup.py install

python setup.py install

running bdist_egg
running egg_info
creating pybgs.egg-info
writing pybgs.egg-info/PKG-INFO
writing dep

[2020-12-09 18:42] sabrabano0 opened #196 "unresolved error"
i want to change code of an algorithm so i need to add it to my visual not build it
by placinf src directory it errors for 17 mouduls

Severity	Code	Description	Project	Path	File	Line	Source	Suppression State
Error	LNK2001	unresolved external symbol "public: __cdecl bgslibrary::algorithms::SuBSENSE::SuBSENSE(void)" (??0SuBSENSE@algorithms@bgslibrary@@QEAA@XZ)	MulticueBGS	D:\New folder (2)\Multicue

[2020-12-11 13:15] sabrabano0 commented on #155
i have same problem with multicue algorithm

it take time 0.8 to 0.22 per frame

profiling cpu refer to free memories

ho shuld i fix it

opencv 4.2
win10

[2020-12-11 13:26] sabrabano0 commented on #185
yes multicue had problem in free memory and takes o long time
but multilayer FPS is 2 :(
how should i detect objects on convey belt? @andrewssobral andrewssobral

[2020-12-11 13:43] sabrabano0 commented on #186
thank you that solved my  problem.

[2020-12-22 07:49] vc-zju opened #197 "Logic error in vibe"
**Describe the bug**
When we init the `historybuffer[]`, the elements in it are like **BBBBBBBBBBBBBBBBBBGGG…RRR…**(suppose that the image imported by cv is a RGB image not a BGR). But when we use `historybuffer[]`,  we see it as **RGBRGBRGB……** which confuses me much.

**To Reproduce**
Just see the code : ), I will offer it.
when we init it
[code]
when we use it
[code]
**Expected behavior**
Consi

[2020-12-29 15:03] wanglu-nj commented on #184
wqc007你好，谢谢你的帮助，按照你提供的步骤做了，但是后面还是报错。
`- Found PythonInterp: E:/ProgramFiles/Anaconda3/python.exe (found suitable version "3.7.4", minimum required is "3.7")
CMake Error at modules/pybind11/tools/FindPythonLibsNew.cmake:127 (message):
  Python config failure: Python is 64-bit, chosen compiler is 32-bit
Call Stack (most recent call first):
  modules/pybind11/tools/pybind11Tools.cmake:16 (find_packag

[2021-01-15 12:45] frnhfr commented on #175
I have the same problem on Ubuntu now with the Opencv 4.4.0 when i run

`pip install pybgs`

# System information
Ubuntu 18.04
Opencv 4.4.0
gcc 8.4.0

[2021-01-25 09:07] momo-github-1984 commented on #184
您好，我也有这种错误，但是您的方案我试过了，还是有错。python 3.6 ,opencv3.4.2，请问您是否知道还有什么原因会导致此结果？

[2021-01-26 07:08] wanglu-nj commented on #184
@momo-github-1984
你好，我的问题解决了，不晓得您是不是类似的问题。我pip不成功，就自己下载的源码，并下载CMake，自己编译，在cmakelists.txt的本级目录新建文件夹build，之后在build文件夹中打开cmd，输入cmake -D OpenCV_DIR=%OpenCV_DIR% -D BGS_PYTHON_SUPPORT=ON -G "Visual Studio 14 Win64" ..
就成功了。希望能帮到你。

![image](https://user-images.githubusercontent.com/61547739/105811600-d9bc1c00-5fe7-11eb-9700-9ff868f88e0e.png)

[2021-01-27 09:41] momo-github-1984 commented on #184
您好，感谢您的热心帮助！实际上我在不添加BGS_PYTHON_SUPPORT=ON&nbsp;这个参数的时候，是可以像您这样编译的，但是加上去就不行。我想在python中实现编译，但是失败了！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "andrewssobral/bgslibrary"                                                                                    <notifications@

[2021-01-28 03:33] momo-github-1984 opened #198 "can't see libbgs.pyd in my C:\bgslibrary\build path."
I tried to install：Wrapper: Python

I've run it successfully：cmake -D OpenCV_DIR=%OpenCV_DIR% -D BGS_PYTHON_SUPPORT=ON -G "Visual Studio 14 Win64" ..

But at the end, I don't see libbgs.pyd file in my C:\bgslibrary\build path.

My environment is
win10+opencv:3.4.2+python3.6;。

this is my generated directory:
![image](https://user-images.githubusercontent.com/58026591/106085990-350f1b00-615c-11eb-8

[2021-01-29 21:22] votecoffee opened #199 "-j8 build switch causing MSBuild to fail"
**Describe the bug**
I get the following error code while attempting to install pybgs via pip (occurs with and without wheel package):
  MSBUILD : error MSB1001: Unknown switch.
  Switch: -j8

**To Reproduce**
pip install wheel
pip install pybgs

**Expected behavior**
I expect it to install successfully

**Screenshots**
[code]

### System information
**Desktop (please complete the following inform

[2021-01-31 09:10] momo-github-1984 commented on #198
I've solved my problem. I have this conclusion:
1. Be sure to use: git clone -- recursive https://github.com/andrewssobral/bgslibrary.git . DON'T downloading the zip file directly. This causes the pybind file to be lost.
2. Everyone's. PYD file name is different.
3. Pybgs needs to adjust environment variables to work properly. I still have some confusion about this, such as I can't use it in other

[2021-01-31 09:10] #198 closed

[2021-01-31 09:13] momo-github-1984 commented on #182
Hello! I want to know how to adjust the learning rate? Can you be specific? thank you!

[2021-02-04 13:43] tatagoswami commented on #190
I have the same issue (VS2013), please post fix if any

[2021-02-05 03:56] momo-github-1984 opened #200 "For the available algorithm for a comprehensive comb"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I found that although some algorithms are available, the author of the method or related literature, such asTwoPoints, PAWCS and so on, cannot be known. This makes it impossible for me to further understand the principles of these methods and to quote them correctly.

**Describe the solution you'd like**

[2021-02-05 04:10] momo-github-1984 commented on #115
I have the same doubts! Do you know more about it now?

[2021-03-02 03:44] JiananYuan opened #202 "Why does the following three foreground people exist all the time?"
Hi~ BGS is an excellent and nice work for CV research. I'm excited to run the example demo. However, when I select the AdaptiveSelectiveBackgroundLearning algorithm, the initial 3 people exist in all the video time. I mean, when the initial 3 people start moving to another place, the white foreground should move accordingly rather than keep in the same place. The 3 people region can be seen in the

[2021-03-02 03:57] JiananYuan commented on #202
Ah, I know that if the init frames don't contain moving people, then the effect is correct! But are there any solutions to solve the sutiation I mention above? Thank you!

[2021-03-10 16:46] corlangerak opened #203 "Pip install pybgs doesn't work on MacOS"
Hi I am trying to install the bgslibrary but the pip install gives the following ERROR Message:

[code]

I tried building it from source but the same thing happend.... Not sure what to do? Maybe I am missing something or is this an unknown errror? All help would be greatly appreciated.

[2021-03-14 09:32] rpalsaxena commented on #170
Hi @andrewssobral ,

Is there any update regarding the issue? Installation of file pybgs is not working via pip install.

[2021-03-16 13:20] ipesanz commented on #170
Same here! Not possible to install in current channels of PIP. Using PyCharm and auto-discovering & install of the ide.

[code]

[2021-03-26 08:28] 1187697147 opened #204 "What's the default algorithm used in bgs?"
Hi,
I have built this repo, when I use run_video.sh, I felt condused about which algorithm did you used.
Since there are many algorithms in demo2.py, so I wonder the default one.

[2021-04-04 09:46] andrewssobral commented on #204
Hello @1187697147 ,
The default algorithm is the `Frame Difference`, defined in the `config/FrameProcessor.xml` file.

[2021-04-04 09:48] 1187697147 commented on #204
Okay, thanks for your reply!

---Original---
From: "Andrews Cordolino ***@***.***&gt;
Date: Sun, Apr 4, 2021 17:47 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [andrewssobral/bgslibrary] What's the default algorithm used in bgs? (#204)

Hello @1187697147 ,
 The default algorithm is the Frame Difference, defined in the config/FrameProcessor.xml file.

—
You are receiving thi

[2021-04-04 09:49] andrewssobral commented on #204
You're welcome!

[2021-04-04 09:49] #204 closed

[2021-05-10 09:55] Rad0n1 opened #205 "Unresolved external symbol: LNK2001"
**Describe the bug**
Followed the exact steps to integrate the library into an existing project, but while using the MSVS2019 compiler it gives a 41 LNK2001 errors

**To Reproduce**
Include the library in an existing project

**Expected behavior**
No errors

**Screenshots**
![afbeelding](https://user-images.githubusercontent.com/21261320/117641215-2f2acc00-b186-11eb-80d0-f8434fc67117.png)
![afbeel

[2021-08-17 05:08] catmasteryip commented on #195
same thing happened to me

[2021-10-25 20:48] jnissin opened #207 "Importing pybgs crashes python runtime"
**Describe the bug**

I have attempted to install `pybgs` both via `pip`:

[code]

and from sources after cloning the repository via `setup.py`:

[code]

within a conda environment. In both cases I manage to install the library but when I attempt to import it the python runtime crashes:

[code]

**To Reproduce**

Install the library, either via pip or setup.py, and attempt to import it via `import

[2021-11-12 13:22] simon-hauser commented on #181
Hi @andrewssobral , I just managed to build and install the library for OpenCV 4.5.3 but I'm having the same issue that many algorithms don't seem to be part of the module. Did something incorrect happen or is the full implementation into OpenCV 4.x still pending? Thanks for your help!

[2021-11-12 20:03] philip-fu commented on #187
Hi @andrewssobral , is there any progress on the fix? thanks!

[2021-11-15 11:07] andrewssobral commented on #181
Hello @leavittx @TheMasterRoot @simon-hauser
Sorry for my absence, I had to put the bgslibrary in standby for a long time.
Yes, unfortunately, compiling the current version of the bgslibrary with OpenCV 4.x don't support all algorithms yet.
I need to spend some time for code refactoring, bug fixes and improvements.
I'm planning to dedicate some time to bgslibrary by the end of this year (in decemb

[2021-11-15 11:13] andrewssobral commented on #181
@TheMasterRoot
When you say "using a base frame to get background for subsequent ones" you mean the user set a specific image to be the background reference before doing the background/foreground separation?
The algorithm StaticFrameDifference do that automatically using the first video frame as a background reference before computing the foreground detection for the next frames.

[2021-11-15 14:32] andrewssobral commented on #207
Hello @jnissin ,
Sorry for my absence, I had to put the bgslibrary in standby for a long time.
I will try to reproduce your issue in my local environment.
I come back to you soon as possible,
Thanks
Andrews

[2021-11-15 23:10] andrewssobral commented on #187
Hello @philip-fu ,
Unfortunately no, I had to put the bgslibrary in standby for a long time.
I'm planning to dedicate some time to bgslibrary by the end of this year (in december probably).

[2021-11-15 23:19] philip-fu commented on #187
@andrewssobral Thanks for the update. I just notice that I am able to pip install from git w/o errors with opencv 4.5.x. Not sure what is happening but seems like the fix is there and only need to publish to pypi.

[2022-01-07 10:15] CenekAlbl commented on #175
Hi, I am facing the same issue on Ubuntu 20.04 with OpenCV 4.2.0 when running
[code]

gcc version 9.3.0

[2022-01-25 10:20] simon-hauser commented on #181
Hi @andrewssobral . I apologize for poking you again :P. Just wondered if you had the time to add the full OpenCV 4.x support? I wanted to use a new OpenCV version for my project, but please let me know if you feel like this is taking you longer, then I will try downgrading to an OpenCV 3.x version to get all the algorithms. cheers, and thanks for your work!

[2022-02-18 16:14] simon-hauser commented on #181
Hi @andrewssobral . Thanks for your reply. I downgraded to OpenCV 3.4 and could successfully compile the library, however I ran into the same issue as in #174 where for some algorithms I get a (-5:Bad argument) error (I'm on win10). Your reply there was that you found the problem on the Python side.
I'd really love to use the full library, preferrably on windows. I will now try to proceed with a V

[2022-03-17 17:36] xavibou commented on #207
Hi,
Is there any update on this? I installed pybgs on opencv 3.4.7 using pip and I am getting the same error at importing the library.

Thanks
Xavi

[2022-04-15 14:26] xavibou opened #209 "Importing python library on M1 chip MacOS"
Hi @andrewssobral,

I am having issues importing the python library with M1 chip MacOS. It seems to be related to the architecture of my machine. I describe my environment and how to reproduce the bug does below:

I have compiled bgslibrary with support for Python on MacOS as stated in https://github.com/andrewssobral/bgslibrary/wiki/Wrapper:-Python. The code compiled well using a Conda environmen

[2022-06-02 07:22] Cadmon commented on #101
I have make it running on python but when i try to integrate with concurrent.futures process pool to run different model at the same time, it keep hanging. has anybody try with ProcessPoolExecutor before?

[2022-07-14 10:05] LP308210365 commented on #173
Hi, It's been three years and I'm using the DPAdatptiveMedian method inside this package and I'm experiencing the same problem, have you solved this problem now? sincerely look forward to your reply!

[2022-07-24 13:37] andrewssobral commented on #209
Hello @xavibou
Thanks for opening this issue.
Yes it's related to the architecture.
However, I need to investigate it more deeply, it's not clear to me how to fix it.

[2022-07-24 13:43] andrewssobral commented on #207
Hello @jnissin @xavibou , sorry for my delayed feedback.
I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.
Everything is working for me, could you please check in your side if this new version fix your issues?
Thanks

[2022-07-24 14:11] andrewssobral commented on #205
Hi @Rad0n1 ,
Sorry for my delayed feedback to you.
I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.
Everything is working for me, could you please check in your side if this new version fix your issues?
For info, I u

[2022-07-24 14:13] andrewssobral commented on #203
Hi @corlangerak @jnissin , sorry for my delayed feedback.
I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.
Everything is working for me, could you please check in your side if this new version fix your issues?
Thanks

[2022-07-24 15:47] andrewssobral commented on #202
Hi @JiananYuan
Sorry for my delayed feedback to you,

In fact, the AdaptiveSelectiveBackgroundLearning algorithm isn't the good choice if you have initial objects moving in the initial frames. It works like the StaticFrameDifference algorithm.

For your case, the best is to select another algorithm that updates the background model constantly like GMM, KNN, PBAS and others.

<img width="1067" alt=

[2022-07-24 15:47] #202 closed

[2022-07-24 20:43] andrewssobral commented on #199
Hi @votecoffee
I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.
Everything is working for me, could you please check in your side if this new version fix your issues?
Thanks in advance,
Andrews

[2022-07-24 20:48] andrewssobral commented on #196
Hi @SabraHashemi ,
Sorry for my delayed feedback to you. Could you please send me more info about this error? I know it's a long time ago, but it's not clear to me how can I reproduce it.
I also want to tell you I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its resp

[2022-07-24 20:50] andrewssobral commented on #196
@SabraHashemi you can find here:
https://github.com/andrewssobral/bgslibrary/wiki/Installation-instructions---Windows#how-to-compile-on-windows-10--msvs2019--opencv-347
How to build the bgs library on Windows 10 + OpenCV + Visual Studio 2019

[2022-07-24 20:54] andrewssobral commented on #195
Hi @jaweii @catmasteryip , sorry for my delayed feedback.

I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.

To install the Python Wrapper you have two ways to do it:
[code]
or
[code]

Everything is working for me, c

[2022-07-24 21:08] andrewssobral commented on #194
Hello @naruto-uzumakki , sorry for my delayed feedback.
I just released a new version of the BGSLibrary, now v3.1.0. I fixed a lot of issues on this release.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.
If you have OpenCV 3 or 4 installed and Python higher than 3.6 (+numpy

[2022-07-24 21:15] andrewssobral commented on #193
Hi @Gr8Dane7 , sorry for my delayed feedback to you.

Usually you should have a *.pyd file instead of .egg
I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.

Here you can see how to build it on Windows:
https://github

[2022-07-24 21:44] andrewssobral commented on #187
Hello @Musambani @philip-fu , sorry for my delayed feedback.
I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.
Everything is working for me, could you please check in your side if this new version fix your issues?
Tha

[2022-07-24 21:47] andrewssobral commented on #192
Hi @chacha21 , sorry for my delayed feedback to you.
Yes, currently the bgslibrary doesn't have this feature, I will work on it.
Thanks,
Andrews

[2022-07-24 21:50] andrewssobral commented on #191
Hi @jiapei100 , sorry for my delayed feedback to you.
You're right, I will check this.
For info, I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.
Please feel free to get back to me if you have any issues,
Andrews

[2022-07-24 21:51] andrewssobral commented on #192
@chacha21 , for info, I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.
Please feel free to get back to me if you have any issues,
Andrews

[2022-07-24 21:59] andrewssobral commented on #190
Hi @zhuruixiang @tatagoswami , sorry for my long delayed feedback to you.
Unfortunately part of the documentation is not up to date, there's no more bgs_demo.vcxproj on the main project.
If you follow this step:
https://github.com/andrewssobral/bgslibrary/wiki/Installation-instructions---Windows#how-to-compile-on-windows-10--msvs2019--opencv-347
You should see the bgslibrary.sln file to build the

[2022-07-24 22:04] andrewssobral commented on #189
Hi @peijason , sorry for my delayed feedback to you.

In c++: `bgs->process(img_input, img_mask, img_bkgmodel);`
`img_mask` and `img_bkgmodel` are references to be filled by the process method.

In python the behavior is different.
[code]
`img_output` is equivalent to `img_mask` (but it returns by value instead of reference)
and `img_bkgmodel` can be given by:
[code]
Hope this helps you.

For info

[2022-07-24 22:05] andrewssobral commented on #188
Hi @peijason , sorry for my delayed feedback to you.
Unfortunately this feature is not yet supported, I will work on it.
Thanks,
Andrews

[2022-07-24 22:07] #186 closed

[2022-07-24 22:12] andrewssobral commented on #184
Hello @wanglu-nj @momo-github-1984 @TheMasterRoot @wqc007
Should I consider this problem solved?
For info, I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.
Python package: https://pypi.org/project/pybgs/3.1.0.post0/

[2022-07-24 22:19] andrewssobral commented on #181
Hello @simon-hauser @TheMasterRoot @leavittx , sorry for my delayed feedback to you.
For info, I just released a new version of the BGSLibrary, now v3.1.0.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.
Here's the updated steps to install it on Windows:
https://github.com/an

[2022-07-24 22:24] andrewssobral commented on #173
Hello @Acxyle  @LP308210365 ,
Sorry for my delayed feedback to you.

Unfortunately depending of the OpenCV version you have, only a few algorithms are available, here's an updated list:
https://github.com/andrewssobral/bgslibrary/wiki/List-of-available-algorithms#list-of-the-algorithms-available-in-bgslibrary

For info, I just released a new version of the BGSLibrary, now v3.1.0. I fixed several i

[2022-07-24 22:27] andrewssobral commented on #174
Hi @LjwPanda , sorry for my delayed feedback to you.
For info, I just released a new version of the BGSLibrary, now v3.1.0. I fixed several issues concerning the different OpenCV versions.
I tested it on Windows, Mac and Linux, both compiling the C++ library on OpenCV 3.4.7, 3.4.16 and 4.6.0.
I also tested its respective Python wrapper and GT user interface.
Everything is working for me, could you

[2022-07-25 12:45] votecoffee commented on #199
My development environment has changed.  I did a quick try using PyCharm/CMake which failed.  I can open a new issue for that if you want details.  I'll retry using my VS2022 environment and report back soon.  Thanks for the effort!

[2022-07-25 13:40] #199 closed

[2022-07-25 21:14] andrewssobral commented on #199
Perfect! thanks a lot for your feedback @votecoffee

[2022-07-31 14:24] andrewssobral opened #213 "Memory leak"
The following algorithms are still with memory leak:
* CodeBook
* MultiCue

[2022-10-28 01:53] adong911 commented on #144
Hi @andrewssobral , I would like to know if the "AttributeError: module 'bgslibrary' has no attribute 'FrameDifference'" issue has been resolved. Thank you.